[2018-01-24 11:03] RichardLitt opened #3 "Proposal: Let @RichardLitt Join i18n committee"
After a few months away from collaborating Node, I am starting to miss the work.

### Why Richard

I'm currently writing a thesis on resources for endangered languages - see [this repo](https://github.com/RichardLitt/thesis) - and I am interested in seeing if being a more active member of this group could help inform my own work, and if I can give back. I have an MA in Linguistics and am one thesi

[2018-01-24 17:29] rachelnicole commented on #3
@RichardLitt if you'd like to join just create a PR adding your name to the list and we'll start including you on future meetings & other correspondence. :D

[2018-01-24 18:29] obensource commented on #3
@RichardLitt your thesis work is AMAZING! I can't wait to read more of it. Wonderful work! 👏👏👏

Thank you for sharing some of your background, it's really awesome to know more about you! 🙌

We are insanely stoked to have you with us. +1 to @rachelnicole, please PR yourself on the README, and I can also add you to our [i18n team](https://github.com/orgs/nodejs/teams/i18n).

Really looking forward t

[2018-01-25 17:33] zeke opened #5 "Making contact with Crowdin people"
It's my understanding that the Node.js project may be using Crowdin as a localization platform. If so, I would recommend @Andrulko as a contact there. Andriy has worked closely with us on the Electron i18n project, and is generally quite responsive to our questions and requests. 🙏

[2018-01-25 17:34] Andrulko commented on #5
Hi there!

I will gladly assist with any questions, let's setup something good together :)

[2018-01-25 19:19] RichardLitt commented on #3
Thanks @rachelnicole and @obensource :)

[2018-01-25 22:32] RichardLitt commented on #3
Thank you!

[2018-01-25 22:32] #3 closed

[2018-01-25 22:46] obensource commented on #5
@zeke wonderful! Thank you for introducing us to @Andrulko! 🙌

@Andrulko At the moment we're in a phase of consensus seeking among our l10n groups concerning our Crowdin/i18n-module proposal. If the results are positive, we will be in touch shortly after to seek out your help! 🎉

Thanks all! 😄

[2018-01-25 23:04] Andrulko commented on #5
@obensource Hope 🙏 for positive results of course. Any questions can be shared with me directly.

Crowdin can solve any localization pain 😎

[2018-01-25 23:33] obensource commented on #5
@Andrulko me too. I'm a firm believer in the awesomeness of Crowdin. Hope to be in touch soon! 🙌

[2018-01-29 23:01] rajzshkr opened #7 "Request to join node/i18n"
Interested in contributing to nodejs, since I'm using it for more than 4 years. I think this will be the right place to start with.

[2018-02-05 08:38] Volem opened #8 "Count me in"
I would like to join the group and contribute to i18n initiative

[2018-02-09 04:03] JCMais opened #9 "Request to join i18n WG"
I'm currently member of the `nodejs-pt` i10n group, and I would like to be part of this WG.

[2018-02-13 11:33] sotayamashita commented on #7
@rajzshkr Sorry for replying so late. Could you create a pull request to add? cc:/ @bnb

[2018-02-13 11:34] sotayamashita commented on #9
@JCMais Sorry for replying so late. Could you create a pull request to add? cc:/ @bnb

[2018-02-13 14:58] JCMais commented on #9
@sotayamashita done https://github.com/nodejs/i18n/pull/11

[2018-02-14 16:51] obensource commented on #9
Thank you @JCMais, I've approved your PR. Excited to have you with us!

[2018-02-14 16:53] obensource commented on #8
@Volem my apologies for the delay as well. Thank you for joining us! Please submit a PR adding your name to our README, and we'll add you to the group! Excited to connect soon! :D

[2018-02-14 16:53] obensource commented on #7
Hi @rajzshkr! Thanks for joining us. I left a comment on you PR. Excited to connect!

[2018-02-14 16:55] obensource commented on #5
@Andrulko @zeke right now we're looking good to move forward after today. Excited to be in touch! I'll reach out about getting things rolling with Crowdin tomorrow! 🙌

[2018-02-14 20:55] Andrulko commented on #5
I'll be around, excellent!

[2018-02-15 21:29] srl295 opened #12 "Please add @srl295"
thanks

[2018-02-15 22:33] srl295 commented on #12
https://github.com/nodejs/i18n/blob/master/README.md#summary-of-our-responsibilities was not mentioned in the original commit ,so I missed it.  I'm:
* ex-moderator of ex-WG (now Team) `Intl`
* work on CLDR/ICU etc
* attending the Ecma 402 WG call tomorrow

do we want to have any kind of liaison relationships here? Maybe I can help there?

In the Vai language in Liberia, February is spelled ꕒꕡꖝꖕ. T

[2018-02-16 08:36] Andrulko commented on #5
Hey @obensource, I've sent you invitation for a quick meeting. Any day, any time, any weather you prefer! :smiley:

[2018-02-16 08:50] sotayamashita commented on #5
@Andrulko Could I joint the meeting as a observer?

[2018-02-16 09:02] Andrulko commented on #5
@sotayamashita, definitely! Sending you email as well

[2018-02-16 09:06] sotayamashita commented on #5
@Andrulko Thanks a lot :smile:

[2018-02-16 09:12] Andrulko commented on #5
Of course, if @obensource don't mind :)

[2018-02-16 23:39] obensource commented on #9
@JCMais merged #11. Thanks for alphabetizing us! :D

[2018-02-16 23:39] #9 closed

[2018-02-16 23:41] obensource commented on #7
Hi @rajzshkr! Adding you as a member landed in #11, I'm going to close this. :)

[2018-02-16 23:41] #7 closed

[2018-02-17 00:26] #12 closed

[2018-02-18 13:22] Toinane opened #15 "Hey there!"
I discovered the initiative thanks to Electron's folks. I would love to be a part of it too :D

[2018-02-19 20:27] obensource commented on #5
@Andrulko & @sotayamashita! I've scheduled our meeting time via email and the Calendly invite @Andrulko sent. Let me know if anything comes up (I'm fairly flexible), and if not–I'm excited to see y'all then!

@zeke let us know if you have interest in joining as well–no problem if not. :)

[2018-02-19 20:44] obensource commented on #15
@Toinane awesome! We're happy to have you join. Thank you for your interest! 🙌

[2018-02-19 20:47] #15 closed

[2018-02-19 23:22] srl295 opened #18 "i18n: document how to fix issues"
As mentioned in https://github.com/nodejs/i18n/pull/14#issue-169523231 — Incorporate https://github.com/nodejs/node/wiki/Intl#q-how-do-the-pieces-fit-together--how-do-i-know-who-is-responsible-for-the-bug into node docs ( possibly https://nodejs.org/api/intl.html or elsewhere ).

Example: https://github.com/unicode-org/full-icu-npm/issues/21#issue-287273095 "the thousands separator is not what I e

[2018-02-20 01:35] sotayamashita commented on #5
@obensource I cannot find the invitation link. Could you send it again to `sota.yamashita@gmail.com`?

[2018-02-20 08:07] Andrulko commented on #5
@sotayamashita please check email / calendar again, you should find an invitation

[2018-02-20 19:48] zeke commented on #5
I'd like to join the meeting. Should I have gotten an email?

[2018-02-20 20:03] obensource commented on #5
@Andrulko would you mind sending an invite to @zeke? Thanks a bunch, so stoked about this! 🙌

[2018-02-20 20:04] obensource commented on #5
@zeke the meeting has been organized by @Andrulko, so he should send you an invite soon if you haven't already received one. 👍

[2018-02-20 20:23] Andrulko commented on #5
@obensource, just sent an invitation @zeke. If anyone else wants to join, please drop me a line. You know, I have a feeling that @zeke knows our GitHub integration better than me, so it should be twice efficient! :blush:

[2018-02-20 20:53] zeke commented on #5
Got my invitation. See you Monday. 👍

[2018-02-20 20:54] obensource commented on #5
Rad! See you then @zeke 🎉

[2018-02-20 21:08] zeke commented on #18
Might be going on a tangent here, but regarding the numerical separator, there's a browser API for it: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString

We could have a website build process that finds numbers in plaintext, wraps them in something like `<span class="number" data-value="1000000">1,000,000<span>`, and lets some browser code do th

[2018-02-20 21:23] obensource opened #19 "Audit of our l10n groups"
## Purpose
A continuation of [this Node.js Community Committee issue](https://github.com/nodejs/community-committee/issues/239).

## Description
Since we're picking up steam with implementing a new i18n process, an audit of all of the existing Node.js l10n groups is in order to determine a few things:

* Is the group active, and/or would they like to continue the l10n group?
* Who're the currently

[2018-02-20 21:43] srl295 commented on #18
@zeke the bug above is someone using that exact API and not being happy with the result.

The suggestion is interesting, however, it could result in output that's doesn't match the surrounding content.   For example, suppose you have my twitter/github handle  `@srl295`. It might turn into `@srl二百九十五` or `@srl٢٩٥` on such a page. Really, you want output to harmonize with the page's language.  Howev

[2018-02-20 22:18] obensource opened #20 "Translators for our WG Meetings"
## Purpose
We'd like everyone involved in our WG to have the same understanding of what's going on, and be able to have the same opportunity to weigh in on every decision we make–without being held back by a language barrier.

## Description
As @RichardLitt brought up in the discussion around our [first i18n WG meeting](https://github.com/orgs/nodejs/teams/i18n/discussions/1): It would be advantag

[2018-02-21 13:16] RichardLitt commented on #20
Thanks, @obensource! For this next call, I think we should wait until it is scheduled, and then field requests for translators from participants. Do you know when the next CommComm meeting is?

[2018-02-21 14:28] LuigiBaute opened #21 "Translate document in to Spanish"
HI! I would like to contribute to this project by offering a translation in to Spanish which is my native language. I work under the rules of Utopian-io and therefore I have to translate over a thousand words for it to be considered as a `contribution`.  Let me know if/when you guys are interested and I'll gladly start working with you. CHEERS! :+1:

[2018-02-21 19:27] RichardLitt commented on #21
Hi @LuigiBaute. Thanks for the offer. We'll bring this up at the next i18n meeting.

However, just to set expectations; I don't think we're interested in a quick translation of the document here, without some sense of upkeep. Translations for Markdown files on GitHub can go out of date very fast, and if you're only looking for a quick reward via Steem, this may not be the best project for you to c

[2018-02-21 22:15] obensource commented on #20
@RichardLitt the [next CommComm meeting](https://github.com/nodejs/community-committee/issues/245) is tomorrow. I provided the wrong link above, apologies–updated it. :)

I'll secure the date of our next meeting on Friday, and then we can see if participants need translation help, definitely. Thank you Richard! 👍

[2018-02-22 22:20] obensource commented on #20
### Post CommComm-meeting update
@zibbykeaton gave us the go ahead to ping her when we need help to field & request assistance from translators in our community via the Node.js twitter profile. Thanks Zibby! 🎉🎉🎉

[2018-02-23 10:02] lukaszewczak opened #25 "Request to join i18n WG"
Hi, I'm from Poland and I'm interested in contributing to nodejs. I do not have to much experience witch internationalization and open source in general, but I would like help this group in achieving their goals. So if you are able to accept not too experienced person, which want to develop their skills it would be great :-), if not at the moment, then maybe I could help with polish translations.

[2018-02-23 19:08] obensource commented on #25
@lukaszewczak thank you for reaching out and offering to help! We're more than happy to have you with us, and given that this initiative is relevant to your interests–I agree that it would be a great place for you to start and get involved! 🎉

I think the best thing you can do to help us help you grow here–is communicate *early* and *often* about where you'd like to jump in. The more experienced m

[2018-02-23 19:12] obensource commented on #25
@lukaszewczak added you to our members list. Closing your issue. 👍

[2018-02-23 19:12] #25 closed

[2018-02-23 20:17] zeke commented on #5
@Andrulko can you also invite @vanessayuenn to the call?

[2018-02-23 20:38] lukaszewczak commented on #25
Great :-) ! Thank you @obensource !  Where I can found those localization teams you mentioned?

[2018-02-23 20:43] FranzDeCopenhague commented on #20
I just sign-in the Monday doodle

[2018-02-23 20:48] ZibbyKeaton commented on #20
Yes, please just ping me with your needs and I can share info on social and also send notes to Node.js Foundation members to see if they can support here too.

[2018-02-23 20:48] Andrulko commented on #5
@zeke invitation is sent 📨

[2018-02-24 21:04] lukaszewczak commented on #19
Hi @obensource Is this audit already being created somewhere?  I can try to prepare this kind of audit in the next week , but where to put it, here or somewhere else (maybe some google sheets)?

Regarding polish l10n repo nodejs-pl I now that I would like to resurrect a group or start a new one.

[2018-02-27 15:58] lukaszewczak commented on #19
Hi, I'm wonder is there a possibility to group all l10n group's inside organisation . Is this only available through new organisations? I think that this would be simpler to manage those groups if we would have one place to go to see all l10n group's. What do you think about it?

[2018-02-27 17:46] obensource commented on #19
@lukaszewczak that's awesome that you'd like to get the [polish l10n group](https://github.com/nodejs/nodejs-pl) going! I recommend reaching out to @m1halo and seeing if he's still interested in helping out with that as well. You could then start collaborating on that existing repo and make it awesome! Exciting! 🙌

#### Re Audits:
The exact form our audit will take will be more defined after we di

[2018-02-27 17:48] obensource commented on #19
@lukaszewczak sorry, I pinged the wrong person. I meant to refer you to @mthenw! :D

[2018-02-28 05:36] lukaszewczak commented on #19
@obensource , thank you for the responses and explanations. Thanks for contact to polish group maintainer.

I cannot be on WG meeting on the 6th, but after you define this audit task, I would like to help with that.

About putting list of all the current l10n groups I prepare PR #28

[2018-02-28 07:39] Volem commented on #8
Please find the PR #29

[2018-02-28 18:39] RichardLitt commented on #8
Thanks @Volem! Looking forward to interfacing!

[2018-02-28 18:39] #8 closed

[2018-02-28 20:51] zeke commented on #5
We had a call!

For the record, these were the attendees:

- @Andrulko from @crowdin
- @sotayamashita from Node.js i18n WG and @gitlocalize
- @obensource from Node.js i18n WG
- @vanessayuenn from @electron and @github
- @zeke from @electron and @github

Anyone take notes?

[2018-02-28 20:54] Andrulko commented on #5
Hope we can get started shortly!

[2018-03-01 07:57] obensource commented on #5
@zeke I took a handful of notes. Planning on expanding and sharing them before the upcoming WG meeting. 👍

[2018-03-01 08:04] obensource commented on #5
@andrulko we'll be getting our i18n team up to speed and discussing our use of Crowdin at our next WG meeting on the 6th. I imagine the ball will really start to roll soon after that! 🎉🎉🎉

[2018-03-01 18:11] maddhruv opened #32 "Translation l10n to Hindi"
The current repo for Hindi translation and l10n is not maintained any more - https://github.com/nodejs/nodejs-hi
Please allow me to take over the repo and form a team for i18n Hindi translators and collaborators.

[2018-03-01 18:45] lukaszewczak commented on #32
Hi @maddhruv  that's great that you'd like to get the Hindi l10n group going! I recommend reaching out to existing team https://github.com/nodejs/nodejs-hi#team and seeing if they are still interested in helping out with that as well. You could then start collaborating on that existing repo.

The problem could be in situation when there will be no contact from the current team, at the moment I do

[2018-03-01 19:49] obensource commented on #32
### Rebuilding nodejs-hi
Hi @maddhruv if you're interested in resurrecting and building the Hindi l10n group up, that sounds really awesome! I agree with @lukaszewczak that it would be a good idea to reach out to the people who were previously involved and see if there's anyone who's still interested in helping out with maintaining and growing that group, as well as adding you as a member and/or l

[2018-03-02 01:36] maddhruv commented on #32
I will get in touch with the current members of the group, but it seems the team is scattered now.

Moreover @obensource I am interested in joining the **WG** and build a Hindi l10n group and help the community with i18n.
I request you to add me to i18n as well as WG

[2018-03-02 03:43] obensource commented on #32
@maddhruv awesome! Sounds great. 🙌

Though it seems scattered, I'm excited to see if anyone is interested in joining in with you in the l10n group–and either way, I know that you'll spearhead something really awesome with Hindi l10n. Thank you for stepping forward and making this happen! 🎉🎉🎉

Thank you for joining us in i18n, I'll go ahead an add you. Excited to talk more! 🍻

[2018-03-02 03:52] obensource commented on #32
@maddhruv please close this issue as you see fit. :)

[2018-03-02 05:27] #32 closed

[2018-03-02 06:42] obensource opened #34 "i18n WG Meeting Time & Frequency"
## Time 🕓
I propose we hold a regular WG meeting every Tuesday at **4PM-5PM UTC**. – It would seem that time might work for the majority of us (or at least I hope).

## Frequency ∿
Should we follow the standard Node.js WG pattern and maintain a weekly meeting?

I imagine meeting weekly will be beneficial over the spring and maybe beyond while we're doing a lot of implementation. I suppose we can o

[2018-03-02 07:38] lukaszewczak commented on #34
As for me, it suits me better at **3PM UTC** at 4PM UTC I'm usually on the train on the way home. :-) Weekly meeting will be enough to start.

How much time do you expect for such a meeting?
Are those meetings will be recorded and available on youtube as meetings from other working groups?

[2018-03-02 19:04] obensource commented on #34
@lukaszewczak oh right, an end-time would be helpful lol. I'll add that now. Thanks for sharing your availability.

Yes, we should probably set up a YouTube recording stream like other working groups. I think it's fairly seamlessly integrated with Zoom.

[2018-03-06 09:34] obensource opened #36 "Using Crowdin"
## Purpose
Our group needs to be brought up to speed on what's been discussed with @Andrulko and our WG members who were present at **our meeting with Crowdin on 02/26/18**.

WG members: Please provide any thoughts or feedback you have here concerning using Crowdin and we'll get things rolling. 🙌

## Meeting Recap
### i18n WG members in attendance
* @zeke
* @vanessayuenn
* @sotayamashita
* @obenso

[2018-03-06 09:41] Andrulko commented on #36
Awesome! I kept March 6th in my mind, can't wait when we'll start the integration together shortly 🎉 If necessary, as promised, we can do another quick session to setup [CLI](https://support.crowdin.com/cli-tool/) together

[2018-03-06 09:43] obensource commented on #36
@zeke I also had these notes about some of the setup you've done to communicate changes between Crowdin / electron/i18n / website, but though I think I know what they mean–I can't recall their full context now. Maybe you could further explain them (I hope they're enough to reference for you)?
[code]
Also feel free to elaborate on and correct any of the notes above. Thanks! 😎

[2018-03-06 09:46] obensource commented on #5
Closing this since we've met with @Andrulko, and are now discussion using Crowdin in https://github.com/nodejs/i18n/issues/36.

[2018-03-06 09:46] #5 closed

[2018-03-06 09:57] obensource opened #37 "Node.js i18n WG Meeting 2018-03-06"
## Time
UTC Tue 06-March-2018 16:00 (04:00 PM)
[What is 4PM-UTC In your local time?](http://www.wolframalpha.com/input/?i=04PM+UTC,+March+06,+2018+in+local+time)

## Links
* [Minutes Google Doc](https://docs.google.com/document/d/1daZuYpjomqVylkpNJ2TDLa3Gjd-3KvrNpMBkpwxNlOQ)

## [Current Members](https://github.com/nodejs/i18n#current-members)
@amiller-gh (Adam Miller)
@toinane (Antoine Olivier)
@

[2018-03-06 14:42] maddhruv commented on #37
I am up for the meeting 😊
@obensource the meeting would be on Zoom. Right?

[2018-03-06 15:54] bnb commented on #37
@maddhruv yep. I'm grabbing the link now.

[2018-03-06 15:55] bnb commented on #37
I'd like to add a small agenda item:

- Defining a consistent time for the i18n meeting to be scheduled.

[2018-03-06 15:57] bnb commented on #37
If you will be participating in this meeting as a i18n member, here is the join link: https://zoom.us/j/688543192

If you're interested in watching the meeting as a non-member, here's the YouTube link: youtube.com/nodejs-foundation/live

[2018-03-06 15:57] obensource commented on #37
@bnb SWEET! Thanks for hosting us with zoom! Would you be able to get the YT recording going as well?

[2018-03-06 15:57] obensource commented on #37
RAD.

[2018-03-06 15:58] obensource commented on #37
@bnb that's actually the first item on the agenda: #34 ;)

[2018-03-06 15:59] bnb commented on #37
Looks like there's another meeting currently in progress, we may need to start ours a few mins after.

[2018-03-06 16:04] obensource commented on #37
Meeting is now available in the original link @bnb shared - https://zoom.us/j/688543192

[2018-03-06 16:24] RichardLitt commented on #36
Would be a good idea to add in safeguards now in case there are infractions. I would propose a three-strike action for larger issues (minor, good-faith poor translations just plain happen). After that, we should stop using that specific translator. It would be up to both this group and the localization group to formally censure for each strike.

This way, we all know what is going to happen if the

[2018-03-06 17:12] FranzDeCopenhague opened #38 "i18n first meeting"
Hi,

I did join the meeting just started but could not setup the zoom app on time. I would like to join the group and participate in i18n efforts.

[2018-03-06 18:31] obensource commented on #38
Thank you @FranzDeCopenhague! Sorry you weren't able to join, but we're excited to have you with us moving forward!

I'll add you as a member ASAP, thanks for jumping in! 🙌

[2018-03-06 19:11] obensource commented on #38
Adding! https://github.com/nodejs/i18n/pull/39

Going to close this issue when it merges. Thanks again Franz!

[2018-03-06 19:48] RichardLitt commented on #25
Welcome, @lukaszewczak!

[2018-03-06 19:58] RichardLitt commented on #34
I don't believe there was consensus during the call about the best time to hold the meetings, as I missed the bit where we may have gotten to it at the end. For now, can I tentatively suggest March 20th at 3PM UTC, to accommodate @lukaszewczak?

[2018-03-06 20:03] RichardLitt commented on #19
For this audit: We should contact each of the localization groups and request that they be in charge of their CrowdIn translations for their languages. I think that asking this at the same time as the audit will be smart, as it will help us see whether they are active enough to take on an actionable item, as opposed to just having some people respond "Yeah, we're around". A bit sneaky, but I think

[2018-03-07 04:13] lukaszewczak commented on #19
Hi @RichardLitt, I am not convinced that your effort to prepare this tool (name-your-contributors ) is necessary. It looks like almost all l10n groups are inactive from about 2/3 years, even when @obensource send on every group issue `Node.js Internationalization Proposal` (almost 1 month ago), there was almost no response, not even emoticon, thumb up - some reactions like emoticon/comments was on

[2018-03-07 06:23] amor520 opened #43 "Request to join nodejs i18n team"
I come from China  and I'm currently member of the electron/i18n team,request to join nodejs i18n team

[2018-03-07 06:40] amor520 commented on #43
twitter account  https://twitter.com/amor90s

[2018-03-07 11:29] LaurentGoderre opened #44 "Consider third-party i18n services like Transifex or locize"
I haven't used locize yet but Transifex has some really nice tools for managing i18n. We would split our i18n needs into assets and there's a dashboard to track the percentage of translation for each asset in each supported language.

[2018-03-07 11:47] TiagoDanin commented on #44
![image](https://user-images.githubusercontent.com/5731176/37090582-ae3d5af2-21e3-11e8-90c5-8a71609a2f3e.png)
Crowdin has a similar dashboard

[2018-03-07 17:28] ZibbyKeaton commented on #20
Checking in to see if there's anything needed this week or next in promoting efforts here? If so, just send me an email zkeaton@linuxfoundation.org or comment here, so I can stay up to speed with support.

[2018-03-07 18:32] obensource commented on #20
Thank you @ZibbyKeaton! 🍻

At present, I believe the goal is to reach out as necessary if anyone expresses a need for translation. That need wasn't expressed for our first meeting yesterday, but I'm sure it will be in future meetings–so we will reach out as it arises. Thanks so much for helping us out in this way and being super awesome! 😎

[2018-03-07 21:16] RichardLitt commented on #43
Sounds good to me! Want to open a PR with your name in the list? :)

[2018-03-08 09:26] dongfengdejia commented on #43
@RichardLitt , Could i join to the i18n team? i'm from China too.

[2018-03-08 21:00] zeke commented on #43
@dongfengdejia you're welcome to join as well. Please add yourself by opening a pull request.

[2018-03-08 21:09] zeke commented on #44
Thanks for the suggestion @LaurentGoderre, but there is already consensus among the Node.js folks to use Crowdin.

As for Electron, we at GitHub did a rigorous analysis of the available localization platforms, including Transifex, Qordoba, GitLocalize, Acrolinx, LingoHub, and others. Our reasons for choosing Crowdin for the Electron project are enumerated in this document: https://github.com/elect

[2018-03-08 22:24] laosb commented on #43
@zeke I also want to apply to join, but I didn't have an active Twitter account. Does it matters?

[2018-03-09 02:39] #37 closed

[2018-03-09 02:51] RichardLitt commented on #43
@laosb That doesn't matter. You're free to join without one. :)

[2018-03-09 13:59] LaurentGoderre commented on #44
Awesome!!! This might come in handy for projects I'm working on!

[2018-03-09 14:01] #44 closed

[2018-03-10 12:16] ryo-a opened #48 "Problems found in Electron/i18n from a standpoint of one translator/proofreader"
from a standpoint of one translator/proofreader, I found some problem in Electron/i18n on Crowdin.
I hope such problems should be resolved in nodejs/i18n.

### No rule for l10n
This problem occured in not only Electron but also other projects.
(Same problem bothered me when I was working on l10n of Android App.)

Ruleless translation usually make chaos in terms of choice of words, grammar, punctua

[2018-03-10 18:33] FranzDeCopenhague commented on #48
My experience as Spanish proofreader in Electron is similar and I totally agree with your comments. Recently @zeke updated the [translating contributing section](https://github.com/electron/i18n/blob/master/contributing.md#translating) with a set of basic translation rules. This can be a good starting point for our discussions about translation guides and glossaries.

I like the idea of using slac

[2018-03-10 22:12] amiller-gh commented on #48
We had a brief discussion in the Web Redesign meeting about the use of humor in new site copy and what is appropriate for the Node.js brand. Part of that discussion was about how humor translates and how to provide guidance for translators when there isn't a 1:1 translation. Would love to see that get hashed out by this committee as well – either in this issue, or in a new one if its out-of-scope.

[2018-03-12 15:28] zeke commented on #48
This is great feedback, @ryo-a

I like this idea. We have some intro docs on the electron/i18n README, but there's no guarantee that folks are seeing that page. I think the one page we can be confident that all translators will see is the project landing page on Crowdin, e.g. https://crowdin.com/project/electron -- I've opened https://github.com/electron/i18n/issues/273 as a tracking issue for tha

[2018-03-12 15:43] #43 closed

[2018-03-12 15:48] RichardLitt commented on #43
@laosb Open a pull request with your name added and with a little bit about you! :)

[2018-03-13 04:18] laosb commented on #43
@RichardLitt , of course will do tonight 😃

[2018-03-14 00:44] alejandronanez commented on #21
I'm also interested in providing Spanish translations! I'll wait for more info about it in this issue :)

@RichardLitt is there any other repo I can contribute to with Spanish translations?

Thanks!

[2018-03-14 03:18] RichardLitt commented on #21
@alejandronanez I'm not sure at the moment! I would follow along with the discussions in this repo about CrowdIn.

[2018-03-14 14:51] LaurentGoderre opened #50 "Key based i18n vs default language i18n"
There usually is two camps when it comes to manage i18n. Using a default language (usually english) or using keys (also usually in english but they are more like variables).

Has there been a decision on which one to use already?

[2018-03-14 16:35] FranzDeCopenhague commented on #50
What is the context of your question? Like,
* The ongoing translation of the Node.js project's textual content into every language of its users?
* How language will be managed at nodejs.com? For example, https://nodejs.org/en/docs/

[2018-03-14 16:50] LaurentGoderre commented on #50
It's less of an issue when it comes to document where there is the original language it was written but it is very relevant when it comes to translating UIs and templates.

[2018-03-14 17:54] iAndrewCA opened #51 "Request to join nodejs i18n team"
Hi, I am from Poland (currently living in the US) and I would like to join a team nodejs i18n team to help with translations.

[2018-03-14 19:13] RichardLitt commented on #51
Welcome, @iAndrewCA! That'd be awesome. Currently, joining is an open process; open a PR with your name and why you'd like to join (or just link to this issue, really).

[2018-03-14 22:48] laosb commented on #34
For Chinese members, 4PM - 5PM Tuesday UTC === 0AM - 1AM Wednesday CST. That doesn't sound very good actually.

[2018-03-15 00:04] laosb commented on #19
I'm in nodejs-cn and I could see some reactions actually. How about adding nodejs-cn to that list?

[2018-03-15 20:29] obensource commented on #34
I think it would be advantageous for us to select an ongoing meeting time that works for everyone as soon as we can, so we can depend on it regularly.

I know there is simply no perfect time for everyone since our i18n members are distributed across most continents, but I'll place a couple suggested times here in the hope that we can find a general consensus with one. If none of these will work, w

[2018-03-15 21:14] RichardLitt commented on #34
I'm on EST, and can't do 5:00 UTC because that's pretty darn late. 1300 and 1400 work better for me.

[2018-03-15 21:32] obensource commented on #19
@RichardLitt @lukaszewczak @laosb I think skimming each group with `name your contributors` is a good idea to get solid activity viz that adds to the response we've already seen to the proposal. Combining what we have already and what we get from that will help us document current l10n activity for ourselves and others here as we move along.

I agree that the proposal reach out was telling as to w

[2018-03-15 21:54] #38 closed

[2018-03-15 22:01] obensource commented on #51
Hi @iAndrewCA! I'm excited to hear more about you and what kind of translation help you'd like to contribute (more specifically). Feel free to answer in [your PR](https://github.com/nodejs/i18n/pull/52). :D

For example, would you like to help us with Polish translations via Crowdin in a l10n group? Or translate our i18n WG documents into Polish?

Regardless–thank you for wanting to help out, and

[2018-03-15 22:16] vanessayuenn commented on #34
Perhaps we can agree on two meeting times, one good for CST, and one good for PST (CET sort of sits in the middle so we should be good), and alternate between the two? That way most of us can at least attend every other meeting.

[2018-03-15 22:18] obensource commented on #34
@vanessayuenn brilliant! That sounds awesome! 🍻

[2018-03-15 22:22] laosb commented on #34
@vanessayuenn Sounds good. Anyway, much of my spare time this semester is 5:30AM - 8:00AM and later than 4:00PM CST, due to my tight class schedule.

[2018-03-16 03:47] FranzDeCopenhague commented on #34
14:00 UTC works for me too

[2018-03-16 13:53] iAndrewCA commented on #51
Hi @RichardLitt, @obensource
a little about me: I am a full-stack web developer and I have ~13 experience in programming in different languages (currently working with php/laravel/angular but thinking to switch to node.js).
I currently develop my node.js (or MEAN in general) skills. I really love this platform and I would like to support it and help the node.js community as I can.
I can work on tr

[2018-03-16 16:49] obensource commented on #51
@iAndrewCA that sounds great! Thanks so much for sharing a bit more about yourself and what you've been up to!🍻

We're excited to have you with us, and are thankful for your help an any capacity. Thank you for being willing to work on translating our WG docs into Polish, it will help others help us push i18n endeavors forward over time and allow people to keep track of our progress! Super awesome

[2018-03-16 16:58] obensource commented on #51
I'll get an issue up that formalizes our WG-documentation translation process, but at the moment I think it would be super awesome if (for example) you could PR a translation of our [first WG meeting doc](https://github.com/nodejs/i18n/blob/master/minutes/2018-03-06.md),  placing it in a new `
i18n/minutes/PL` directory. That'll be an example for others who would like to help us translate our WG d

[2018-03-16 17:03] obensource commented on #51
@iAndrewCA https://github.com/nodejs/i18n/pull/52#pullrequestreview-104644593 has been merged, closing.

Welcome! 🎉

[2018-03-16 17:04] #51 closed

[2018-03-17 00:12] laosb commented on #34
@obensource I suddenly notice that your CST - UTC conversion is not correct. CST is 8 hours ahead of UTC, which means:

- 13:00 UTC === 21:00 CST
- 14:00 UTC === 22:00 CST

[2018-03-17 02:04] RichardLitt commented on #34
This all may change in a couple of weeks, too, but I'm not sure. Right now we are in the evil America does not match Europe Daylight Savings timegap.

[2018-03-19 05:08] lukaszewczak commented on #34
13:00 UTC and 14:00 UTC works for me but it seams that 13:00 UTC === 14 CET

[2018-03-19 06:31] amor520 commented on #34
13:00 UTC and 14:00 UTC works for me too

[2018-03-19 18:15] ryo-a commented on #48
Thanks, @amiller-gh and @zeke! (and I'm sorry for my late reply)

very difficult but interesting problem for i18n/l10n  🌎🌍🌏

I know one interesting case: Discord's humorous UI texts and documents (also it's humorous translations) have a good reputation in my country. ([like this (written in Japanese)](http://y-s.hatenablog.jp/entry/Discord-AC2017-8))
Their documents/experiences might be helpful to

[2018-03-21 00:00] laosb commented on #34
Update: as a member of the student union, I will need to have regular meetings every week on 13:00 UTC. I'm afraid that Tuesdays won't work for me.

[2018-03-24 02:07] RichardLitt commented on #19
I've gone through and basically audited. I didn't get usernames, but I got what name-your-contributors could get. I ignored reactions, but I could try and get those, too.

[Sourcecode](https://github.com/RichardLitt/node-i18n-audit)

This doesn't get commits at the moment, and most of the issue comments where there is no new issue were probably in response to @obensource's issue (which I filtered

[2018-03-24 03:00] RichardLitt commented on #34
I'm not sure if I missed the last meeting, on Tuesday; we're having one this next Tuesday, correct? It sounds like 1400 UTC might be a good time for the next meeting.

[2018-03-28 23:40] zeke opened #56 "Automatically apply Translation Memory to new content"
We will likely be supporting localization for multiple versions of Node.js documentation. From one version to the next, e.g. `9.9.0` to `9.10.0`, there may be very few changes in the overall content. Rather than relying on translators to re-translate the entirety of Node's documentation from one version to the next, we can use a Crowdin workflow that will automatically apply existing translations

[2018-03-28 23:45] zeke opened #57 "Integrate with Crowdin using a special GitHub user"
When configuring Crowdin to integrate with GitHub, we should use a GitHub user account that:

- is not tied to any individual
- has `admin` access to this repo. (`write` is not adequate)
- has no other special privileges in the @nodejs GItHub organization.

This way if Crowdin were compromised and our i18n user's token was obtained by a bad actor, the affected surface area would be minimal, i.e. j

[2018-03-29 00:07] LaurentGoderre commented on #57
NodeJS has a bot. It may be sufficient for this usecase.

[2018-03-29 17:23] zeke opened #58 "continuous integration"
#55 introduces code into this repository. It would be great if we could run tests on it. I don't know much about CI integration works in the @nodejs org.

[2018-03-29 17:27] LaurentGoderre commented on #58
The docker node group uses Travis CI

[2018-03-29 22:01] zeke opened #59 "Require status checks and reviews before PRs can be merged"
This is a followup to https://github.com/nodejs/i18n/pull/55

I think we should enforce a review requirement on this repo using [protected branches](https://help.github.com/articles/about-protected-branches/). We could also use GitHub's [CODEOWNERS](https://help.github.com/articles/about-codeowners/) feature to ensure that the right teams and people are able to review pull requests before they shi

[2018-03-30 08:31] mcollina commented on #58
Hey @zeke, I'm not involved in keeping up the CI. You should talk to @nodejs/build.

[2018-03-30 14:02] RichardLitt commented on #59
Sounds good to me. Who can set this up?

[2018-03-30 18:33] zeke commented on #59
I don't have access to the settings tab on this repo.

[2018-03-30 19:41] zeke opened #60 "new @crowdin-modules org"
Now that @nodejs and @electron will both be integrating with Crowdin and facing some of the same challenges, I took a moment to make a new GitHub org for the Crowdin-related modules we're maintaining.

https://github.com/crowdin-modules -- I've invited a few members of @nodejs/i18n to join this org. If you didn't get an invitation and would like to join, please let us know.

- https://github.com/c

[2018-03-30 19:53] maddhruv commented on #60
add me to the org also @zeke
I am a member of i18n for node

[2018-03-30 19:58] zeke commented on #60
☝️ done

[2018-03-31 15:29] zeke opened #61 "File structure and crowdin.yml"
When @vanessayuenn and I implemented #55, we chose this directory structure for content:

[code]

for example:

[code]

Now that I think about how we'll write the [crowdin.yml](https://support.crowdin.com/configuration-file/) file, I'm wondering how we can account for multiple Node.js version directories without having to rewrite the YML file every time we change the list of target versions.

In o

[2018-03-31 16:24] Andrulko commented on #61
@zeke, such configuration should work for sure, double stars specified in the configuration should re-create all subfolders

[2018-03-31 20:58] lukaszewczak commented on #60
Hi @zeke, could you please add me to this org.

[2018-04-01 01:11] zeke commented on #60
☝️ done

[2018-04-01 03:12] laosb commented on #60
Could you please have me onboard too :)

[2018-04-01 15:19] zeke commented on #60
☝️ done

[2018-04-02 19:36] bnb commented on #59
@zeke I've made both you and @RichardLitt a maintainer after discussing briefly with @obensource 👍

[2018-04-02 19:38] bnb commented on #57
@zeke I believe we'd probably end up using @nodejs-github-bot, though another one could theoretically be created and added.

@MylesBorins @mhdawson @williamkapke Do y'all have any advice on how we could proceed with this in terms of next steps?

[2018-04-02 20:01] obensource commented on #59
@bnb wahoo! Thanks. @zeke @RichardLitt let your progress be impeded no more. 🙌

[2018-04-02 21:14] obensource commented on #19
@RichardLitt amazing! Thanks so much for making this happen! I think between this and @lukaszewczak's research–we can safely contact the right people and reform our l10n groups around whoever is interested making them happen. I can help begin connecting the channels between the l10n groups and the i18n WG this week. 👍

[2018-04-02 21:30] obensource opened #62 "'Getting started' doc for l10n group members"
## Purpose
People who're [interested in contributing translations](https://github.com/nodejs/i18n/issues/21) don't have a place to land, or don't know how to get involved yet.

## TODO
A good start will be having a 'Getting Started' doc that contains clear directives for joining l10n groups, which we can link to in our [README](https://github.com/nodejs/i18n/blob/master/README.md) along with a 'Wa

[2018-04-02 23:35] zeke commented on #59
Thanks! I still don't seem to have access to repo settings though 🤔

[2018-04-02 23:40] RichardLitt commented on #59
Thanks @bnb! Me neither.

[2018-04-02 23:41] RichardLitt commented on #19
Cool. Let me know if you want the people's names, too - trivial to get. I discarded them somewhat hastily from this initial grep.

[2018-04-03 03:26] obensource commented on #21
Closing https://github.com/nodejs/i18n/issues/62 should resolve this issue.

[2018-04-03 03:41] obensource commented on #36
@RichardLitt I agree that we should approach this up front so we can help safeguard the translation process and avoid being 'caught off guard'. Is there a precedent for the three-strike action anywhere? It seems fair, but I'm relatively new to open source mediation and am genuinely curious. This is definitely a unique context for it. :)

[2018-04-03 03:47] obensource commented on #36
@RichardLitt this will also be absolutely crucial if/when we decide to 'open the translation floodgates' and continuously integrate Crowdin updates into our i18n module directly.

[2018-04-03 04:03] alejandronanez commented on #62
If you need this to be translated to Spanish I can help. 👍

[2018-04-03 04:04] obensource commented on #62
Rad! Thank you @alejandronanez that would be awesome! 🙌

[2018-04-03 04:06] alejandronanez commented on #62
awesome @obensource! Just let me know what's next 🚀

[2018-04-03 04:11] obensource commented on #62
@alejandronanez when the related PR lands with this doc definitely feel free to translate it! 🙌

We can use your PR as an opportunity to create a directory for translated WG documents, probably organized by locale. 😄

[2018-04-03 05:12] obensource commented on #50
@LaurentGoderre so far we've been moving towards managing i18n based on [locale](https://en.wikipedia.org/wiki/Locale_(computer_software)) rather than jumping from a default language–much like in [this example](https://github.com/electron/i18n/blob/master/contributing.md#translated-content) from the Electron project.

This seems to be the logical move to make for easy correlation between our Crowd

[2018-04-03 05:24] obensource commented on #50
@LaurentGoderre

Can you provide more context to this, and how it might affect us?

Thanks a bunch! 🙂

[2018-04-03 05:36] obensource commented on #50
@nodejs/i18n

**native-l10n** is an important consideration that I think we've been overlooking^

[2018-04-03 11:33] Andrulko commented on #36
In Crowdin, any translator can report abusive translation:
http://recordit.co/iCwXSyvIKT

As a project manager, you can view all abuse reports via the project settings... _Reports_ tab. You can make final decision whether the person should be blocked and/or existing translations removed

Hope you'll find it useful :)

[2018-04-03 15:16] srl295 opened #63 "i18n: test plan"
Node.js should be tested against industry tests to verify compatibility for i18n.

Old info:
- https://github.com/caridy/node-intl-testsuite has a way to run the 262 tests against node
   - Background:  https://github.com/nodejs/Intl/issues/15 / https://github.com/nodejs/Intl/issues/13

Newer:
- https://github.com/bterlson/test262-harness
- https://github.com/tc39/test262/

Maybe the above are alr

[2018-04-03 15:23] RichardLitt commented on #34
Ok, I am clearly missing something, or we're just not meeting at the moment. It's a bit too late for today's meeting.

I'm opening a new issue to track next week's meeting on Tuesday at 1400UTC.

[2018-04-03 15:25] obensource commented on #34
@RichardLitt I'm very sorry for the confusion. The missing piece is that we finalized a meeting day, but not a time. I will be clearing that up today.

[2018-04-03 15:26] RichardLitt opened #64 "Next meeting: Tuesday April 10 at 1400 UTC"
### What

The next i18n meeting.

### When

Tuesday April 10th 1400 UTC

See discussion [here](https://github.com/nodejs/i18n/issues/34#issuecomment-378289408).

### Agenda

* [#19: l10n group audit](https://github.com/nodejs/i18n/issues/19)
* [#34: i18n WG Meeting Time & Frequency](https://github.com/nodejs/i18n/issues/34)
* [#48: Problems found in Electron/i18n from a standpoint of one translato

[2018-04-03 15:26] obensource commented on #64
Thanks you @RichardLitt! 🙌

[2018-04-03 15:27] RichardLitt commented on #34
@obensource We shouldn't have to rely on you to push things forward, and there's no need to apologize. I've set up an issue and specified a time based on conversation here. I think all we need is the spark to get things going.

Let me know if you think that's the wrong approach! Just trying to get cats in a room. :)

[2018-04-03 18:00] srl295 commented on #50
I think there are sets of issues here. The one in the original issue is (if I can restate it, @LaurentGoderre ) choosing one of:

### Plan A: Source content is written in some language (English) without regard to translation.

Example content:
[code]

Example translated model:
[code]

Updated code:
[code]

### Plan B: Use keys
Example:
[code]

[code]

-----

Plan A is usually adopted because trans

[2018-04-03 18:04] LaurentGoderre commented on #50
Wow! thanks @srl295 for explaining so well the rationale I have been putting off writing!

[2018-04-03 18:58] zeke commented on #50
On the Electron project, we use a combination of approaches.

For localized strings on Electron's website, we use a [locale.yml file](https://github.com/electron/electronjs.org/blob/550c0f2794526d3044c31a0bb525b894825efa1e/data/locale.yml) with arbitrarily named keys. These keys are referred to in the website's HTML templates like `{{localized.nav.apps}}`. There's currently no science to the key n

[2018-04-03 19:20] alphacentauri82 opened #65 "Spanish and Thai translations"
Hi! i could contribute with Spanish and Thai translations (i guess Thai for documentation since all the coding is done in English).

[2018-04-06 07:01] obensource commented on #50
@zeke @LaurentGoderre @srl295 thanks for your terrific insights! 🙌

Maintaining a close relationship with individuals in designated proofreader roles for each l10n team is going to be necessary in order to help us isolate which strings need their own source-localization. The concept of 'proofreader' & 'translator' roles is something we should probably bake into our [new l10n guidelines](https://gi

[2018-04-06 13:44] filipecorrea opened #67 "Node.js portuguese internationalization"
I would like to contribute to Node.js portuguese internationalization.

[2018-04-06 13:47] maddhruv commented on #67
It's nice having you come up with the contribution!
Stay updated with the repo and as soon as we figure out the right track with internationalization, you can start your magic

[2018-04-06 13:48] maddhruv commented on #65
Awesome you came up!
Stay tuned with the repo and meeting notes as well

[2018-04-06 14:01] maddhruv commented on #65
Check https://github.com/nodejs/nodejs-es repo

[2018-04-06 14:01] maddhruv commented on #67
check https://github.com/nodejs/nodejs-pt repo

[2018-04-07 04:37] obensource commented on #19
@RichardLitt I think it would be beneficial to grab people's names as well–awesome thanks. 🍻

Once we have those we should have all we need to start reaching out to all active, or potentially active members of each group and request that they update their members list and begin to connect with other translators to get involved with their respective group! 🙌

Wahoo! Time to really begin building on

[2018-04-07 04:49] obensource commented on #34
Thanks @RichardLitt. Absolutely true.

Thanks for https://github.com/nodejs/i18n/issues/64, time to get the spark going and make it happen. 😎

After this meeting, I think it might be most beneficial to oscillate between two times that would be ideal for people in CST & PST respectively, as proposed earlier by @vanessayuenn.

We also connect with @mhdawson and see if we can use his automated meetin

[2018-04-07 08:09] Tiriel commented on #19
Oooooooookay!  Sorry folks, I'm back!

I think you also need the name of the people who opened PRs on the global nodejs.org repo. I know (having been one of them) that many people didn't contribute to their l10n groups because the groups were dead and they didn't have commit rights, but instead directly committed i18n files on the main website repo.

A concrete example, I was added recently (like

[2018-04-09 15:27] zeke commented on #59
Good day, @bnb! Can you take another peek at this?

[2018-04-09 15:30] zeke commented on #64
![image](https://user-images.githubusercontent.com/2289/38507004-3b792850-3bd0-11e8-8cbb-fac914df2f09.png)

[2018-04-09 15:32] Andrulko commented on #64
Hope to join tomorrow :)

[2018-04-09 15:51] bnb commented on #64
Is this time / date consistent? Happy to add a recurring event to the Calendar if they are 😄

[2018-04-09 15:52] obensource commented on #64
@bnb not yet, we're trying to nail that down atm. :)

[2018-04-09 15:55] obensource commented on #64
@bnb per [this discussion](https://github.com/nodejs/i18n/issues/34#issuecomment-379432191).

[2018-04-09 15:55] bnb commented on #59
@zeke ah my bad - didn't know there was different RBAC for team maintainers and repos, though it totally makes sense. Y'all should have admin rights _for this repo_  (+ @obensource).

[2018-04-09 15:56] obensource commented on #59
Thanks for working that out @bnb 👍

[2018-04-09 15:58] obensource commented on #36
@zeke nice labeling! Rad! :D

[2018-04-09 16:03] zeke commented on #59
I've enabled branch protection for `master`. Here's the current configuration:

![image](https://user-images.githubusercontent.com/2289/38508698-c2cb83a8-3bd4-11e8-98d7-a6e02577218b.png)

[2018-04-09 16:04] zeke commented on #59
Going to leave this open so we can discuss it during [tomorrow's meeting](#64).

[2018-04-09 16:06] zeke commented on #57
It looks like @obensource had the foresight to grab the `nodejs` project name on Crowdin: https://crowdin.com/project/nodejs -- we may need @andrulko's help to switch ownership to whatever user we end up choosing.

[2018-04-09 16:06] bnb commented on #57
Per a quick chat with @williamkapke, the bot deployment can be raised in an issue with the [Node.js Build WG](https://github.com/nodejs/build) and, if approved by them, be pushed up to the TSC for any final concerns.

I'd like to posit that since this is a CommComm initiative, we put the final discussion with the TSC in the [Admin repo](https://github.com/nodejs/admin).

[2018-04-09 16:17] obensource commented on #57
@bnb sounds good. We can raise the issue in the Build WG & TSC Admin repo in order to get this discussion rolling. Hopefully we can figure out exactly which bot needs ownership soon and transfer my ownership over to it as @zeke mentioned. :)

[2018-04-09 16:25] obensource commented on #34
We can verify and nail down our reoccurring time & dates tomorrow at our next WG meeting! 🙌

@bnb once we do that–we'd love to get them on the calendar! :D

[2018-04-09 16:28] obensource commented on #65
Closing #62 should resolve this issue.

[2018-04-09 16:28] obensource commented on #67
Closing #62 should resolve this issue.

[2018-04-09 16:41] MylesBorins commented on #58
@zeke we traditionally have allowed integrations on a per case basic. There is prior art for travisCI for example.

Node core uses ci.nodejs.org, a custom Jenkins setup. That system is really only necessary if you are needing to test on specific platforms unsupported by travis.

I think opening an issue on github.com/nodejs/build should be sufficient to get travis enabled here. We need to also ope

[2018-04-09 16:51] obensource commented on #61
@zeke @Andrulko rad! This is great!

Would I be correct in assuming that we can follow this same source/translation pattern in our `crowdin.yml` file for other translation initiatives (website, ect)? As long as we have a collection script for each desired source, right?

[2018-04-09 16:55] obensource commented on #56
So stoked about this, super great! 🙌

[2018-04-09 17:05] maddhruv commented on #56
But will the whole documentations change for a minor version or just the changelog!

Like the docs should be same for 9.x is think!

So the docs for 9.x.y shall be same :open_mouth:

[2018-04-09 17:54] zeke commented on #56
Nope, usually just a small subset of the docs will change. This is indeed an interesting challenge! Having a fully copy of all the docs for every release of Node.js does not seem sustainable.

We could take a step back and ask: On the nodejs.org website, should visitors be able to view docs for ANY version of Node.js?

If **yes**, we'll need to think of a way to manage that volume of docs here. Ma

[2018-04-09 17:58] zeke commented on #61
The way I was picturing the Crowdin integration working, nodejs/i18n would be the one repo that integrates with Crowdin. Much like the existing #55 which collects docs from nodejs/node, we'd have another script to collect YML from nodejs/website content and copy it here. Having one Crowdin project seems more manageable. One set of translators, proofreaders, docs, workflows, configuration, etc.

[2018-04-09 18:33] RichardLitt commented on #64
@zeke - note, that's for tomorrow. Sorry about the 7:00am. Let's figure it out in the meeting, or after. Just trying to get this going, at all.

[2018-04-09 19:36] zeke commented on #64
👍

[2018-04-10 03:39] maddhruv commented on #56
with the documentations structure can we do like
A super doc for a major release, that is obviously into very minor release also, and then just translating the changelogs only with the flow

Like for instance
The whole 9.1.x shall have the same docs and then we will translate just the changelogs for every minor version 9.x.{y} and concatenate them together!

[2018-04-10 13:44] Andrulko commented on #64
In 16 minutes 😄

[2018-04-10 13:47] bnb commented on #64
Join link: https://zoom.us/j/472283251

[2018-04-10 13:57] obensource commented on #64
I've updated our agenda in the meeting description. 🙌

[2018-04-10 14:13] TiagoDanin commented on #64
I'll join only to accompany, I speak English I'm very bad 😊

[2018-04-11 02:55] lukaszewczak commented on #64
Hey,

I feel a little bad because I was unable to communicate during the call, I use English too little in speech and writing, which lacks the freedom and confidence in using it, but I understand you quite well :-), after all even little active participation (at least for now) gives me a better idea of what is going on in the group and what are the plans.

Second thing, I'm not experienced in the

[2018-04-11 15:16] bnb commented on #64
@laosb zero worries! We appreciate you coming and listening in 👍

[2018-04-11 15:20] bnb commented on #64
@lukaszewczak We also appreciate you coming and participating in the initiative! Don't worry about not speaking during the meeting - we want to be sure to be inclusive to those who are interested in participating, at the level they're interested in participating at.

I'd also like to say that I'd be interested in a demo of CrowdIn as well - perhaps the full flow of how the Electron team uses it, w

[2018-04-12 04:51] lukaszewczak commented on #64
Great! Thank you @zeke

[2018-04-12 07:13] Andrulko commented on #64
Just in case, if someone didn't see these videos 😄
https://www.youtube.com/watch?v=CXomIylZRSY
https://www.youtube.com/watch?v=bxdC7MfrO7A

One is just for fun, another describes all moments in the editor. I also plan to record few videos that describe each tab PMs see in the project settings.

If you have any other ideas what should be described furthermore, please let me know!

[2018-04-12 15:32] danilsondev opened #69 "Join to the translation group"
Hi,
I am interested into join to the translation group for Portugues.

[2018-04-12 18:06] TiagoDanin commented on #64
@obensource that would be great :)

[2018-04-13 00:30] zeke commented on #62
@lukaszewczak that's a good outline. Do you want to start a PR with this list as a starting point, and we can iterate from there?

[2018-04-13 12:29] lukaszewczak commented on #62
Hi @zeke, I will prepare PR based on that list.

[2018-04-14 05:12] maddhruv commented on #69
hey @danilsondev
awesome :sparkling_heart:
stay tuned with https://github.com/nodejs/nodejs-pt repo and update with this repo also

[2018-04-14 05:35] maddhruv opened #70 "Translation languages"
Which all languages shall we be targeting initially?
There are ton languages :collision: available with *Crowdin* https://support.crowdin.com/api/language-codes/

Some Commonly translated languages and top languages visited on the website (ref. analytics https://github.com/nodejs/website-redesign/issues/15#issuecomment-369827787)
- Chinese Simplified - [zh-CN](https://github.com/nodejs/nodejs-zh-C

[2018-04-14 05:39] maddhruv commented on #34
Anyone syncing the minute docs?? :worried:

[2018-04-14 05:44] zeke commented on #70
This list lines up very closely with the [most-translated languages for Electron](https://electronjs.org/languages). 👍

I see just one missing: Filipino 🇵🇭(4th most popular Electron language; currently 89% translated)

Here's some data we used to answer the "which languages?" question for Electron: https://github.com/electron/i18n/issues/4

[2018-04-14 05:46] maddhruv commented on #70
actually, I ordered them in the order of languages most visited on the website firstly followed by the electron ones :stuck_out_tongue:

[2018-04-14 13:48] maddhruv opened #71 "Versions to Translate"
Targeted versions to be translated into #70
Primarily --
- [v4.x] - EOL - 04/18 - **M. LTS** :hourglass:
- [v5.x] - EOL :skull:
- [v6.x] - EOL - 04/19 - **A. LTS**
- [v7.x] - EOL :skull:
- [v8.x] - EOL - 12/19 - **A. LTS**
- [v9.x] - EOL - 06/18 :hourglass:
- [v10.x] - A. LTS - 10/18 :birthday:

Which all versions shall we be targeting for translations?
5/7 are dead, 4 is used at many places but L

[2018-04-14 13:56] maddhruv opened #72 "website content to be translated"
As also discussed in the previous meeting
How shall we be translating and synchronizing the website contents?

It will be beneficial proposing a robust way of doing that with @nodejs/website-redesign and wrt https://github.com/nodejs/website-redesign/issues/31

A centralized content repo for having contents for the website and i18n access and if @nodejs/website-redesign chooses a CMS for the same.

[2018-04-17 00:44] laosb commented on #70
Just to point out: zh-TW has its repo at nodejs/nodejs-zh-TW, though they're not maintained in last 3 years. Actually zh-CN group is in a similar state.

[2018-04-17 00:49] laosb commented on #34
Sounds like no one synced the minute docs. I would try simply put the incomplete notes from Google Docs into a PR if no one does it yet.

[2018-04-17 19:37] zeke commented on #34
☝️ https://github.com/nodejs/i18n/pull/73

[2018-04-18 07:53] maddhruv commented on #64
closing :stop_sign:

[2018-04-18 07:53] #64 closed

[2018-04-19 14:33] taggon commented on #70
I dropped a link to [the Korean group](https://github.com/nodejs/nodejs-ko)

[2018-04-20 07:25] lukaszewczak commented on #72
Hi @maddhruv , could please describe in more details your idea of the centralized content repo?

[2018-04-23 07:58] lukaszewczak commented on #72
Hi, If I understand correctly, then the method of translating the content for a website depends very much on how the new web page will be built, but in the case of api documentation, nothing changes? Perhaps let's start with a focus on how to translate api and how to solve the issue with translating different api node.js versions.

[2018-04-24 13:01] rvdabhi opened #76 "adding new fields to .json locale files"
why it's automatically creating new keys inside my locale.json file if key not found ?

For example I am trying to convert my whole object array using i18n but what's happening is it is creating new keys that already not added.

Is there any way to prevent this behaviour ?.

[2018-04-24 13:34] #76 closed

[2018-05-01 19:31] zeke opened #77 "Set up the Crowdin-GitHub integration together, and record it"
Since we haven't yet set up our Crowdin-GitHub integration, I was thinking we could walk through it together in our next working group meeting.

As a prerequisite, we'd need to make the @nodejs-crowdin GitHub user the new owner of https://crowdin.com/project/nodejs, instead of @obensource. That will allow multiple members of our working group to log in an administer the account. @andrulko are you

[2018-05-01 19:34] obensource commented on #77
@zeke my boss just assured me that I can spend a bit of time each week supporting our great work here–and joining in our meetings! Wahoo!

Let's schedule our next meeting asap and get this going. 🎉

[2018-05-02 08:31] Andrulko commented on #77
Hey @zeke and @obensource!

Just made the first step, main account is renamed to **nodejs-crowdin**:
https://crowdin.com/profile/nodejs-crowdin

@obensource, it's still linked with your email address and you may change the avatar/email address in the profile settings:
https://crowdin.com/settings#account

Afterward, create new **obensource** account [here](https://crowdin.com/join) and assign your

[2018-05-02 17:27] maddhruv commented on #72
Hey, sorry for the late reply, was busy with other stuff.

The idea behind a centralized repo is to maintain all the contents of the _new website_, plus the docs and other wiki pages, so as it would be easy enough to serve them to the website and also for crowdin integration, we would only have to give access to this central repo. Also it would be much easier to translate the website content and d

[2018-05-02 18:21] zeke opened #78 "Use `npm ci`"
npm's new `ci` command is supposedly much faster than a plain `npm install`. Let's give it a shot in `update-source-content.sh`

[2018-05-03 16:46] zeke commented on #78
Oops meant to open this on electron/i18n 🙊

[2018-05-03 16:46] #78 closed

[2018-05-04 12:44] amor520 commented on #77
so nice, joined nodejs-crowdin !

[2018-05-04 22:47] RichardLitt opened #79 "Next meeting: Tuesday May 15th at 8am Pacific"
It's time for another meeting folks! I know that the last meeting was at a poor time for the California folks, so let's set it in favor of them this time, following https://github.com/nodejs/i18n/issues/34#issuecomment-373512470. Does this time work for everyone?

- **PST: 8 AM - 9 AM**
- EST: 11am-12pm
- CET: 6am-7am
- CST: 1pm-2pm
- JST:  12pm-1pm

### Agenda
- continuous integration #58
- Trans

[2018-05-06 04:30] zeke commented on #79
10pm is a generally a bit little late for me (embarrassing I know, but I have young kids now and they wake up very early 🐒🌞🐒) BUT I could make this time if it works for everyone else.

[2018-05-06 04:37] maddhruv commented on #79
The same for me is 9:30 in the morning.
Works fine at this time. No Kids, No GF :stuck_out_tongue: single boy wakes up at 4AM :laughing:

[2018-05-06 19:05] RichardLitt commented on #79
@zeke Fair! In that case; what is a good time for you?

[2018-05-07 04:45] zeke commented on #79
👍 I'd be in favor of this. That way @RichardLitt can attend, more people can clear their schedule for it ahead of time, and I'll have more runway to prepare for the call (I have yet to attempt the @nodejs [shared credentials GPG dance](https://github.com/nodejs/build/issues/1220))

[2018-05-07 10:42] lukaszewczak commented on #79
Pretty much any time of day works for me, and we can move this to the 15th.

[2018-05-07 15:32] RichardLitt commented on #79
Let's move it to the 15th. Done.

Regarding time: how about we move it to the morning, then?

    PST: 7am-8am
    CET: 10pm-11pm
    CST: 3pm-4pm

[2018-05-07 15:44] zeke commented on #79
That works for me 👍

[2018-05-08 08:39] lukaszewczak commented on #79
Probably it would be ok for me too, but it looks that it will be 5 pm in CET,

![image](https://user-images.githubusercontent.com/7238770/39746874-f780f388-52ab-11e8-9555-233245112131.png)

[2018-05-08 22:33] zeke opened #81 "Create Crowdin Glossary"
Crowdin has a glossary feature that presents translators with useful information about the terms they're translating (or should not be translating). Here's an example:

<img width="603" alt="36569408-8a4ad454-17e2-11e8-8a5b-9c394db0eafd" src="https://user-images.githubusercontent.com/2289/39786223-6dbc570e-52d4-11e8-9d0e-e36ac20ef3cb.png">

For nodejs/i18n, we should probably start with the follow

[2018-05-09 06:40] lukaszewczak commented on #81
Hi @zeke , I can prepare PR with such a script for nodejs/i18n

[2018-05-10 04:33] ryo-a commented on #77
the icon of [nodejs-crowdin](https://crowdin.com/profile/nodejs-crowdin) is still obensource's one.
it is desirable that someone (has permission) change the icon.

[2018-05-10 08:16] Andrulko commented on #77
It is a great avatar I must say! But if necessary, @obensource can update profile picture here:
https://crowdin.com/settings#account

[2018-05-11 04:45] zeke commented on #59
Closing this out. We can revisit when and if we need to change our branch protection setup.

[2018-05-11 04:45] #59 closed

[2018-05-11 05:04] zeke commented on #71
I like the idea of this repo only having the freshest docs for each major version of node. Following the lead of the [existing website](https://nodejs.org/en/docs/#api-reference-documentation) and @maddhruv's example above, I'd be in favor of naming the content directories `v<MAJOR>.x` instead of using specific version numbers.

[code]

It will take some work to get the build process to gracefully

[2018-05-11 05:18] zeke commented on #77
Hey @Andrulko I just logged in to Crowdin using GitHub OAuth with the GitHub user @nodejs-crowdin for which our group now has shared credentials.  It prompted me to "sign up", so I used this info:

<img width="507" alt="screen shot 2018-05-10 at 10 13 14 pm" src="https://user-images.githubusercontent.com/2289/39907806-d3a0b61a-549f-11e8-851c-0d8d76875db2.png">

Sorry for the confusion, but can you

[2018-05-11 06:16] Andrulko commented on #77
Hey @zeke,

The **nodejs-crowdin** username was earlier taken by @obensource, thus you were prompted to specify another username.

I will contact you privately and help to link GitHub OAuth with existing account

[2018-05-12 00:15] FranzDeCopenhague commented on #77
This is great! https://crowdin.com/project/nodejs

I have found another project at crowdin https://crowdin.com/project/nodejs_ru Is it related to our i18n group?

[2018-05-12 00:41] zeke commented on #77
Not that I know of.

cc @artcygn who appears to be the owner. 👋

[2018-05-12 00:53] zeke commented on #62
Resolved by #74 and #75 🎉

[2018-05-12 00:53] #62 closed

[2018-05-12 00:56] zeke commented on #21
Resolved by #74 and #75 🎉

We have a new [getting started guide](https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md).

If all goes well during next week's [meeting](#79), we'll have content ready to translate at [crowdin.com/project/nodejs](https://crowdin.com/project/nodejs) by next week 🤞

[2018-05-12 00:56] #21 closed

[2018-05-12 00:58] zeke commented on #69
Thanks for your offer to help! We have a new [getting started guide](https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md) and if all goes well during our [next meeting](#79), we'll have content ready to translate at [crowdin.com/project/nodejs](https://crowdin.com/project/nodejs) by next week. Stay tuned. 🤞

[2018-05-12 00:58] #69 closed

[2018-05-12 00:58] zeke commented on #67
Thanks for your offer to help! We have a new [getting started guide](https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md) and if all goes well during our [next meeting](#79), we'll have content ready to translate at [crowdin.com/project/nodejs](https://crowdin.com/project/nodejs) by next week. Stay tuned. 🤞

[2018-05-12 00:58] #67 closed

[2018-05-12 00:58] zeke commented on #65
Thanks for your offer to help! We have a new [getting started guide](https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md) and if all goes well during our [next meeting](#79), we'll have content ready to translate at [crowdin.com/project/nodejs](https://crowdin.com/project/nodejs) by next week. Stay tuned. 🤞

[2018-05-12 00:58] #65 closed

[2018-05-12 01:00] zeke commented on #36
Gonna go ahead and close this as we're well on our way. If there are unaddressed topics in this issue, feel free to open more specific followup issues.

[2018-05-12 01:00] #36 closed

[2018-05-12 01:02] zeke commented on #48
I'm going to close this, as https://github.com/electron/i18n/issues/273 and https://github.com/electron/electronjs.org/issues/1064 have been resolved. If there are more things to address, please comment here or open followup issues.

[2018-05-12 01:02] #48 closed

[2018-05-12 01:07] zeke commented on #60
A new module joined the org recently: https://github.com/crowdin-modules/crowdin-glossary

Nothing actionable in this issue, so I'm closing.

[2018-05-12 01:07] #60 closed

[2018-05-12 01:09] zeke commented on #61
We have a starter [crowdin.yml](https://github.com/nodejs/i18n/pull/68) now! Closing.

[2018-05-12 01:09] #61 closed

[2018-05-12 01:11] zeke opened #82 "New project board"
Check it out! https://github.com/nodejs/i18n/projects/1

Was thinking we could use this to start prioritizing issues. Could be useful during our meetings.

[2018-05-12 01:12] zeke commented on #82
PS I added all open issues to the Wishlist column as a starting point.

[2018-05-15 02:03] zeke commented on #79
Hey @nodejs/i18n! Looking forward to our meeting tomorrow. Who's planning to attend?

Things to figure out:

- [ ] meeting URL (@bnb halp!?)
- [ ] recording the call
- [ ] notetaker

We can use this project too: https://github.com/nodejs/i18n/projects/1

[2018-05-15 04:09] obensource commented on #79
@zeke I'm there. See y'all at 8am PST! Wahoo! 🙌

Pretty sure we can just use the Foundation's zoom channel since nothing is scheduled for Node at that time. @bnb can @zeke and I get auth to use the Foundation's zoom account for our i18n WG meetings? It'd be awesome if you could give us the low-down on utilizing the YT stream, etc (is streaming/publishing configured to run with the zoom record feat

[2018-05-15 04:12] obensource commented on #79
If all else fails–we can just hold our zoom meeting [here](https://invisionapp.zoom.us/j/418616800), record it, and manually publish after. :)

[2018-05-15 04:33] maddhruv commented on #79
8 AM PT done :+1:

[2018-05-15 05:13] ryo-a opened #85 "Create Slack Workspace for communication between translators."
(I pointed out the lack of communication between translators in #48. This is a follow-up issue for a project board.)
I have an idea that we launch the Slack Workspace for translators/proofreaders and link it from [Crowdin](https://crowdin.com/project/nodejs). It is better to make the workspace public with [slack-invite-automation](https://github.com/outsideris/slack-invite-automation) and so on.

[2018-05-15 05:17] maddhruv commented on #85
We already have an *i18n* channel in the Node.js Slack, better is to put a reference to the same here in the repository in `Getting-started/Contributing` section?

[2018-05-15 05:34] ryo-a commented on #85
I think translators need the place for communication in their own language.
so it is good for creating channels for each languages (like #es,#fr,#ja,#zh-TW...).

However, creating many channels (for each languages) just for i18n/l10n on Node.js Slack isn't good way...
This is why I suggest to create new workspace.

[2018-05-15 07:05] lukaszewczak commented on #85
Hi, as I proposed in [Getting Started doc](https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md#the-role-of-the-l10n-group), the place for translators for communication will be in l10n groups at the moment.

In any case, I do not insist on this, but thanks to that existing groups could be used, opening the topic does not require specific knowledge of how GitHub works, in case the translat

[2018-05-15 07:59] vanessayuenn commented on #79
@obensource where do I find the link to the Foundation's zoom?

[2018-05-15 08:39] Andrulko commented on #79
I'm sorry to say that I have 2 meetings in a row (8am PST and 9am PST)... Hope my colleagues can join the discussion

[2018-05-15 14:49] obensource commented on #79
@vanessayuenn foundation meetings are always held [here](https://zoom.us/j/209550902), and the [calendar](https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.calendar.google.com) is the best indicator for when it's being used.

Our meeting is on the calendar, but I'm not sure if @bnb is going to be able to join us yet and facilitate the recording+live-strea

[2018-05-15 14:53] obensource commented on #79
@vanessayuenn @maddhruv @zeke @Tiriel @RichardLitt @lukaszewczak just confirmed with @bnb we can meet on the official node zoom, see you there! 🎉🎉🎉

https://zoom.us/j/209550902

[2018-05-15 14:56] srl295 commented on #79
I'll probably miss this, my regrets

[2018-05-15 14:57] obensource commented on #79
The address was wrong, updated^

[2018-05-15 14:57] obensource commented on #79
@srl295 no worries, excited to see you next time! :D

[2018-05-15 14:57] rohalskyy commented on #79
Will gladly join the discussion

[2018-05-15 15:02] rachelnicole commented on #79
I'm sick but I'm excited to catch up at the collab summit

[2018-05-15 15:02] obensource commented on #79
Thanks for your patience, just got the link from the @bnb–here we go!

https://zoom.us/j/196918186

[2018-05-15 15:02] obensource commented on #79
*disregard the previous links I shared.

[2018-05-15 15:03] sotayamashita commented on #79
@obensource Can I join ?

[2018-05-15 15:31] lukaszewczak commented on #79
Unfortunately, I had technical dificulties today, :-( and I do not want to interupt in the middle of the meeting, I will watch it on yt.

[2018-05-15 15:59] obensource opened #87 "Crowdin Integration Meeting: Tuesday, May 22 8am Pacific"
# Let's meet!
We need to schedule a time to record our process for setting up the crowdin-github integration: https://github.com/nodejs/i18n/issues/77

Let's make it happen before the Collaboration Summit! I'm generally available in the afternoons/evenings PST. How about y'all?

[2018-05-15 16:03] zeke commented on #79
This meeting happened! Here are the notes: https://gist.github.com/zeke/6ab3b52bb1a1e1f45e7707cfc5a5753e

We also recorded the call. @obensource will follow up with a link to the video.

[2018-05-15 16:47] #71 closed

[2018-05-15 16:50] zeke commented on #58
A PR is in the works: https://github.com/nodejs/github-bot/pull/171

[2018-05-15 17:13] zeke commented on #87
How about Thursday May 17 at 4pm Pacific?

[2018-05-15 21:41] #82 closed

[2018-05-15 21:42] zeke commented on #79
Video is up: https://www.youtube.com/watch?v=lfIra3g39uA

[2018-05-15 21:42] #79 closed

[2018-05-15 21:44] zeke commented on #57
This worked! We now have shared access. Thanks @rvagg 🙏

[2018-05-15 21:45] zeke commented on #85
How do I join this?

We could start with a single #i18n channel and see how it goes. 🤔

[2018-05-15 21:53] zeke commented on #77
Earlier today, I attempted to connect the @nodejs-crowdin GitHub user to Crowdin, but had to request access.

@bnb or @rvagg do you know who might have received this request?

<img width="606" alt="screen shot 2018-05-15 at 7 54 44 am" src="https://user-images.githubusercontent.com/2289/40085391-1b31bce2-584f-11e8-9916-d221fbcea57b.png">

<img width="594" alt="screen shot 2018-05-15 at 7 54 51 am"

[2018-05-15 23:54] maddhruv commented on #87
That would be 4:30 AM in India!
Even if I wake up this early, my roommate sleeps hard :pensive:

[2018-05-16 04:19] lukaszewczak commented on #85
@zeke please go to this page http://www.nodeslackers.com/ and register, you should receive an email with access details.

There is already #i18n channel, so we can meet there.

[2018-05-16 04:25] lukaszewczak commented on #87
It will be 1:00am in Poland, so it will be very difficult to join :-), but as soon this will happen then better, I hope a recording of this meeting will be available online?

[2018-05-16 17:33] zeke commented on #87
@obensource I know you said afternoons/evenings are best, but could you possibly make a morning work? 8am Pacific would be more likely to work for @lukaszewczak and @maddhruv.

http://everytimezone.com/#2018-5-16,180,b8jj

[2018-05-16 17:36] obensource commented on #87
@zeke sure! The next 8am slot that works for me would be Monday the 21st. Stoked to make it work for everyone–thanks Zeke! 🙌

[2018-05-16 17:39] zeke commented on #87
How about Tuesday the 22nd? If that doesn't fit I can move stuff around and make Monday work.

[2018-05-16 17:43] zeke commented on #85
Should we add this to the getting started guide?

[2018-05-16 18:29] maddhruv commented on #87
This could work fine for me!
Might even reach home

[2018-05-17 03:46] rvagg commented on #77
Yeah, so this is where we break down, if they need org access with that "request" button then it goes to org owners (TSC++) and we have a general rule of not giving access to third-party services. We've been using the nodejs-github-bot to work around this for various things.

Perhaps the TSC would be more comfortable giving access to the org now that we've moved most of the sensitive private repos

[2018-05-17 04:35] zeke commented on #77
☝️I'll defer to @Andrulko from Crowdin for a definitive answer to this.

[2018-05-17 04:58] Trott commented on #77
FYI, I used the "deny access" button on the request just like for everything else that's ever requested access to private info. But there's absolutely no reason someone (including me) can't edit the entry for this integration to grant access once all the info is gathered and the TSC gives a :+1: on it.

[2018-05-18 12:45] amorist commented on #85
#90 So, now close this issue

[2018-05-18 12:45] #85 closed

[2018-05-21 15:39] zeke commented on #57
Re-opening this, as we have to wait for TSC approval to authorize Crowdin.

[2018-05-21 15:47] zeke commented on #77
As I understand it, the new @nodejs-crowdin GitHub account only has admin access to a single repo `nodejs/i18n`, so the vulnerable surface area is quote low. @rvagg is that correct?

I am unfamiliar with the TSC's process. Please let me know if there's something I can do to help move the process forward.

[2018-05-21 20:01] Trott commented on #77
Looks like someone already added the bot to this repository so I don't think there's anything for the TSC to do, unless you needed it added org-wide or something like that.

[2018-05-21 23:18] zeke commented on #77
Here's what I see now:

<img width="578" alt="screen shot 2018-05-21 at 4 15 04 pm" src="https://user-images.githubusercontent.com/2289/40334362-2791e044-5d12-11e8-8c6c-ffcce85321b7.png">

I'm not sure I understand where that leaves us. What are our options at this point for giving Crowdin organization access?

[2018-05-21 23:51] zeke commented on #87
I think we may need to postpone this meeting as we don't yet have Crowdin connected to the org.

See https://github.com/nodejs/i18n/issues/77 for details on why we're blocked.

[2018-05-22 02:34] lukaszewczak commented on #87
Yes, I agree, we should postpone this meeting.

[2018-05-22 03:40] Trott commented on #77
@zeke Are you not able to use the "Authorize crowdin" button in the screenshot you provide. IIUC, that will give the plugin access to the @nodejs-crowdin account which, as far as I know, has admin access in this repository but nothing else in the nodejs org. So that might be all you need? (Also, you might consider reducing the account's privileges to Write rather than Admin if it only needs read/w

[2018-05-22 03:43] Trott commented on #77
(Oh, I think I see: the org settings override the account privs and the plugin can't write to this repository? If that's right, then unfortunately that will probably require escalation to the TSC as described in the longer part of my answer. Sorry.)

[2018-05-22 04:31] zeke commented on #77
Thanks for breaking it down, @Trott 👍

I labeled this issue and made a plea for the next TSC meeting: https://github.com/nodejs/TSC/issues/544#issuecomment-390859048

[2018-05-22 04:32] zeke commented on #87
This meeting is postponed pending consideration from the TSC on authorizing the Crowdin-GitHub integration. See https://github.com/nodejs/TSC/issues/544#issuecomment-390859048 -- that  meeting is scheduled for May 23.

[2018-05-22 09:31] mcollina commented on #77
@zeke can you please update this issue with a lengthy "why" explanation. Why do we need crowdin, and what can we use this for, and also why it's needed for the tsc to approve this.

[2018-05-23 16:02] zeke commented on #87
Still waiting on TSC approval. Follow https://github.com/nodejs/TSC/issues/544#issuecomment-390859048 for updates.

[2018-05-23 23:20] rvagg commented on #77
So, I'm +1 on this on the proviso that this doesn't give the service more access than the nodejs-crowdin user does that we created for this. Even reading this thread I still don't have full confidence that this is the case. That's all I care about and I'm very confident that this is all the TSC cares about too.

[2018-05-23 23:33] mcollina commented on #77
Which repo will this be used on? Only nodejs/i18n or something else as well?

[2018-05-24 02:06] zeke commented on #77
Correct

Also correct, as long as no one gives @nodejs-crowdin admin or write access to any more repos.

[2018-05-24 07:12] targos commented on #77
I suppose that if someone else from the org creates a crowdin account, that would automatically give them access to all repositories that user has access to? Could we somehow use the GitHub API to monitor it?

[2018-05-24 12:30] Andrulko commented on #77
Yes, it might be true indeed. If another person from the org will setup Crowdin account and setup GitHub integration afterward, all repositories he/she has the access to will be available for Crowdin integration. If another repo was linked with Crowdin, automatic pull requests will be sent to this repo from our end and there will be `crowdin.yml` configuration file created in the connected branche

[2018-05-29 10:31] fhinkel commented on #77
Unless I missed a comment, nobody is -1 on adding the Crowdin plugin?

[2018-05-29 15:39] zeke commented on #77
It would be swell if we could unblock this before the Node.js Collaborator summit later this week.

[2018-05-29 17:36] fhinkel commented on #77
Who's blocking it?

[2018-05-29 22:05] zeke commented on #77
There's no individual blocking it. The TSC is just being (understandably) cautious about giving third-party access to the @nodejs GitHub org.

[2018-05-31 06:11] zeke commented on #87
This meeting didn't happen because we didn't get TSC approval of Crowdin in time. Closing with the hope that we'll resolve this at the [collaborator summit](https://github.com/nodejs/summit/issues/60) this week.

[2018-05-31 06:11] #87 closed

[2018-05-31 06:41] zeke opened #92 "Publish a module to npm"
Once we've landed #57 and #77, we'll have translated content flowing into this repo in the form of markdown files sorted into subdirectories by node version and language. To make this translated content easier to consume by projects like [nodejs/website-redesign](https://github.com/nodejs/website-redesign), we should export a node module that is easy to install and easy to use. The name could be s

[2018-05-31 12:57] zeke opened #93 "npm account for publishing nodejs-i18n module"
As part of #92, we'll need a shared npm user (or npm organization) for publishing the module.

@bnb @rvagg is there any precedent for this?

[2018-05-31 14:04] nodejs-crowdin commented on #70
I am alive!

The following languages have been added:

![image](https://user-images.githubusercontent.com/38230325/40786815-4f51cba8-64ec-11e8-9906-81d9dfa4de96.png)

[2018-05-31 14:05] zeke commented on #70
☝️ that was me. Going to close this issue. Feel free to open other language requests in separate issues.

[2018-05-31 14:05] #70 closed

[2018-05-31 14:07] zeke commented on #57
This happened! Thanks @Trott 💛

[2018-05-31 14:07] #57 closed

[2018-05-31 14:07] zeke commented on #77
This happened! Recording forthcoming.

[2018-05-31 14:07] #77 closed

[2018-05-31 14:08] zeke commented on #58
Travis is set up! See #94

[2018-05-31 14:08] #58 closed

[2018-05-31 14:16] nodejs-crowdin opened #95 "Link to Crowdin from README and CONTRIBUTING"
We enabled https://crowdin.com/project/nodejs today. Let's make it easier for folks to discover the new  Crowdin page.

[2018-05-31 14:28] maddhruv commented on #95
@nodejs-crowdin @zeke can you add me a manager to the crowdin project as well

[2018-05-31 17:11] zeke commented on #56
I have configured this using the instructions at https://support.crowdin.com/advanced-workflows/

This can only be administered using the owner account @nodejs-crowdin.

If we ever need to modify this workflow, the URL is https://crowdin.com/resources#workflows

![image](https://user-images.githubusercontent.com/2289/40796754-63d59f0e-6506-11e8-8b63-7333e00ac09f.png)

[2018-05-31 17:11] #56 closed

[2018-05-31 17:31] zeke opened #98 "Add some welcoming content to the Crowdin project description"

[2018-05-31 17:41] zeke commented on #98
Added a first pass at https://crowdin.com/project/nodejs. Feedback welcome.

<img width="1199" alt="screen shot 2018-05-31 at 7 40 59 pm" src="https://user-images.githubusercontent.com/2289/40798125-95a337cc-650a-11e8-9127-f416ab4ea1a9.png">

[2018-05-31 17:44] zeke commented on #95
@maddhruv what changes do you need to make?

[2018-05-31 20:57] lukaszewczak commented on #92
Hi, @zeke I like this idea, how can I help with this?

[2018-05-31 22:32] FranzDeCopenhague opened #100 "TOC in Crowdin"
If you look at crowding files to translated https://crowdin.com/project/nodejs/es-ES# and the _toc_md https://crowdin.com/translate/nodejs/163/en-es you can see that TOC points to modules doc and other docs. In case of modules documentation, we need to prevent the translation of the module name which uses to match the filename and the first heading inside the doc, and for the other docs should be

[2018-05-31 22:39] FranzDeCopenhague commented on #100
Also the _toc.md contains a comment at the beginning, which is not required to translate and actually it is the first thing that an Spanish translator has done.
[code]
I had a look at the other md files and I did not see any other comments. I suggest adding another comment on top of the comments to indicate not to translate the comments below at the beginning

[2018-06-01 03:35] maddhruv commented on #100
@zeke @Andrulko can we do here like, just like glossaries, prevent the user from translating special comments

comments that start with special chars
`// ! this needs not to be translated`

[2018-06-01 03:37] maddhruv commented on #95
may for future
manage translators, integration, API, webhooks!!

[2018-06-01 06:36] zeke opened #101 "Add tests for translated content"
Now what we have [translated content](#99) flowing into the repo, we should add some basic tests to verify that it has the expected directory and file structure. This will give us more confidence that future PRs from Crowdin can be safely merged.

[2018-06-01 06:45] zeke commented on #100
Yeah this is kind of annoying because it's the first thing you see, but it doesn't really matter if it gets translated or not. Once the file is parsed as HTML, the comment will be gone. So once it's translated in every language, translators won't have to pay attention to it any more.

Yeah. We should land #91 once it's ready, then add all the module names to the glossary to help avoid confusion.

[2018-06-01 06:53] zeke commented on #92
@lukaszewczak once we land #99, we'll have all the files in place. If you want to start on this, feel free! Let me know if you need help or guidance on where to start.

[2018-06-02 04:08] tiendq opened #102 "I want to help to translate Node.JS documentation to Vietnamese, how can I start?"
I came here from a tweet and this site https://crowdin.com/project/nodejs to look for detail but instead it made me more confused :)

Can I just start at crowdin.com?

What are I10n groups listed in readme file? I found [Vietnamese group](https://github.com/nodejs/nodejs-vi) is outdated and it even referred to `io.js`.

[2018-06-02 20:55] zeke commented on #102
Sorry to hear that! What specifically made you confused? Let's try to improve it.

[2018-06-03 09:18] targos opened #104 "Expand translations to Node.js builtin error messages"
I briefly talked about this with @obensource at JSConf EU. Opening an issue now so I don't forget about it :)

If it is something that this group would like to do, I'm willing to help with the technical work that would have to be done in Node core so that builtin error messages can be translated.

[2018-06-03 19:56] zeke commented on #104
Interesting!

What would be the use of the translated error messages? Are you imagining a future where Node.js itself is internationalized, and developers can install the node runtime in different languages?

As far as enabling translation for these messages, the only requirement would be that there's a way to programmatically collect all the message strings from the nodejs/node repository and giv

[2018-06-03 20:00] zeke commented on #104
As I recall in a blog post by @jasnell, there was recently some effort to standardize / constantize all of node's error messages, right?

[2018-06-03 20:03] jasnell commented on #104
We have been in the process of assigning codes to all errors. I'm not sure if we'll ever get to a point where we are shipping translated binaries but having the docs for each code localized would be fantastic.

[2018-06-04 06:14] tiendq commented on #102
@zeke As I said above, what's I18n groups for? and obsolete groups such as Vietnamese group is better removed. It had made me thought I need to be a member of this group to translate docs, but it turned out later I needn't :)

[2018-06-04 07:27] zeke commented on #19
Judging by the [reactions to @obensource's messages](https://github.com/nodejs/i18n/issues/19#issuecomment-371017038) in each of the localization repos, people are excited and ready to embrace the new model.

I propose that we update the descriptions and READMEs of each of those old repositories with a message about the new setup and a link to this nodejs/i18n repository, then archive all the repo

[2018-06-04 07:29] zeke commented on #102
Good question! See https://github.com/nodejs/i18n/issues/19 for a discussion about that. If you have specific feedback or ideas on how to improve the experience of getting started, please open followup issues. 👍

[2018-06-04 07:29] #102 closed

[2018-06-04 07:35] zeke commented on #18
The project doesn't use GitHub wikis any more, so the above-mentioned content no longer exists in Wiki format. As your recommendation is to include such guidelines in https://nodejs.org/api/intl.html, I would suggest opening an issue on nodejs/node, where that source content lives.

Going to close on the basis that this issue is inactive, doesn't have a clear solution, and probably should be resol

[2018-06-04 07:35] #18 closed

[2018-06-04 08:15] Tiriel commented on #19
I'm definitely a +1 to @zeke 's idea. I was wondering myself lately what was the point of keeping these repos open tbh. Will we have use for the in the future?

[2018-06-04 08:33] obensource commented on #19
@zeke 💯

@Tiriel I think the benefit of keeping the l10n repos around may be that it provides a landing point for anyone looking to contribute to a specific language, and if needed–can be a point of communication between the i18n group and l10n champions (reviewers) who're responsible for ensuring translation quality. This is how I imagined it–but it may in fact be unnecessary and we should defini

[2018-06-04 12:18] vanessayuenn commented on #104
I would like to point out that while well intended, translating error messages _without assigned error codes_ might actually do more harm than good. When people encounter an error that they don't quite understand, most likely they'd just copy & paste the error message into search engines. Having translated error messages essentially limits developers' debug resources to only the language of said e

[2018-06-04 14:38] Andrulko commented on #100
@maddhruv Are there many strings like ```// !``` in the source texts? Unfortunately, I didn't manage to find them here: https://crowdin.com/translate/nodejs/all/en-uk#q=%2F%2F+%21+

[2018-06-06 20:23] TiagoDanin opened #110 "Add translation to Portuguese Brazil"
Reasons:
- ~3.49% of site visitors were Brazilian ([Source](https://github.com/nodejs/website-redesign/issues/15#issuecomment-369827787)).
- Syntax and pronounce is extremely different from Pt-PT
----
Cc @nodejs/nodejs-pt

[2018-06-06 21:38] zeke commented on #110
For written language that shouldn't matter though, right?

I'm happy to enable this Brazilian Portugues, but would like to hear from some other Portuguese speakers first. My only hesitation is because I enabled Venezuelan Spanish on the Electron project (by request from one person), and a bunch of Spanish language translators protested, saying the differences were not significant enough to justify

[2018-06-07 02:59] ryo-a commented on #104
now I'm working for a programing education service in Japan. (just a part-time job)
As I see, untranslated error messages are sometimes big hurdles for non-native students.
so I strongly agree to expand translations 👍

also I agree to @vanessayuenn 's comment. "googleability" is crucial.
I have an idea: we keep current error codes(e.g. `ENOENT`, `ERR_ASSERTION`) and add translated error messages.

[2018-06-07 03:04] JCMais commented on #110
Brazilian Portuguese has enough differences from Portugal Portuguese to make this a reasonable request.

Tho, the differences are more evident on informal writing, I don't if they are going to be that big on technical/formal writing.

[2018-06-07 14:14] TiagoDanin commented on #110
Writing is different for some word and other not. The language is a mixture of the Portuguese of Porgutal with the natives languages of the ancient peoples.

[2018-06-09 07:02] amorist opened #116 "sync nodejs.org website content"
https://github.com/nodejs/nodejs.org/tree/master/locale

how to sync nodejs.org website locale content here

[2018-06-09 07:09] amorist commented on #116
![tim 20180609150804](https://user-images.githubusercontent.com/14037268/41188835-f58d1a2a-6bf6-11e8-97b7-9620e574f818.png)

`api` api content
`website` website content

[2018-06-11 14:56] bnb commented on #93
cc @mhdawson @MylesBorins would be great to get your input if y'all have context 🤔

[2018-06-11 14:59] bnb commented on #93
Ah, it looks like there's a Node.js Foundation account: https://www.npmjs.com/~nodejs-foundation

[2018-06-17 04:37] FranzDeCopenhague commented on #110
How much is the difference regarding to technical documentation?

[2018-06-17 11:33] gustavohenke commented on #110
Back when the only thing @nodejs/nodejs-pt did was a portuguese blog, I would still feel not comfortable reading posts written by portuguese folks. I would consider these quite technical.

[2018-06-17 20:50] FranzDeCopenhague commented on #104
Providing a tool to support a localized error message lookup may help users meanwhile.
For example, see https://www.microsoft.com/en-us/language/Emt

[2018-06-18 03:26] #110 closed, assigned to nobody

[2018-06-18 06:31] FranzDeCopenhague commented on #104
@zeke I did not use it recently, but it is part of Microsoft language tools
https://www.microsoft.com/en-us/language/Toolbox

[2018-06-18 15:11] zeke commented on #104
Sorry didn't meant to close.

[2018-06-29 10:19] eakarpov opened #130 "how necessary are the translations?"
Hello.

How necessary are the translations of the docs, will it be published on the site of node.js (Now it seems like the i18n of docs is absent)?

I could help with translating docs into Russian.

[2018-07-02 17:03] bnb commented on #130
Translating documentation is super important, as it helps users who don't speak English as their first language engage with the project and find success with it.

Help with Russian translations would be deeply appreciated, as we saw pretty incredible growth in Russia last year ([source](https://nodesource.com/node-by-numbers)):

![image](https://user-images.githubusercontent.com/502396/42176700-dd

[2018-07-02 19:33] eakarpov commented on #130
@bnb ok, I got it. Gonna give some help with it.

[2018-07-10 11:13] #116 closed

[2018-08-30 09:54] interwebLT opened #150 "Request: add Lithuanian language"
Hi,
Could you please add the Lithuanian language to crowdin.com node.js project?

[2018-09-17 16:13] mcollina opened #157 "The names of the teams/wg should be translated?"
In my opinion no. I think those have to be treated as proper names.

[2018-09-19 00:37] zeke commented on #157
Hi @mcollina 👋. Can you elaborate on what you're asking here? I think I'm missing some context.

[2018-09-19 07:36] mcollina commented on #157
In https://github.com/nodejs/nodejs.org/pull/1762, Community Committee and Technical Steering Committee are getting translated. I do not think they should, as they are proper names.

[2018-09-19 18:18] zeke commented on #157
`Community Committee` and `Technical Steering Committee` could be good candidate terms to add to the Crowdin glossary, so translators will see a message about what the string means and why it should not be translated. @maddhruv has a WIP pull request for glossary terms here: https://github.com/nodejs/i18n/pull/91

[2018-09-21 07:14] maddhruv opened #161 "automatic approve and merge translation PRs"
There's no code in the PRs to be reviewed and merged manually everytime
can we do something to timely accept and merge the PRs

[2018-09-21 19:26] zeke commented on #161
@dependabot might be good for this.

https://twitter.com/zeke/status/1043219917913219072

[2018-09-22 01:18] maddhruv commented on #161
so https://probot.github.io/ is something that might help us go ahead

[2018-09-22 01:56] zeke commented on #161
Probot is a framework for building bots. We could build a custom bot to merge Crowdin PRs, but I think if there's something that already exists to solve this problem, we should consider using it.

[2018-09-22 01:59] maddhruv commented on #161
Yeah indeed!
But would the _2 approvals merge block_ setting hurdle the bot?

[2018-09-23 00:09] zeke commented on #161
We can change that setting if needed. I initially enabled the approvals requirement to ensure that people who want to participate in this effort don't miss out.

[2018-09-27 19:25] obensource opened #164 "i18n breakout session at the Node.js Collaborator's Summit–October 13th"
# Description
We're on for an i18n breakout session at the Node.js Collaboration Summit in Vancouver BC, on October 13th. This directly follows the [Node + JS Interactive](https://events.linuxfoundation.org/events/node-js-interactive-2018/) conference.

I'll be leading the session, and would really love input for anything y'all would like to share or that you think should be covered. If you're pla

[2018-09-27 19:32] obensource commented on #164
@littledan @srl295 : if y'all are planning on attending the collaborator's summit, I'd also love to open up some of this time to discuss the relationship between the Node.js i18n WG and ECMA 402–how we can mutually support each other and continue to expand our collaboration. 🚀

[2018-09-27 20:46] zeke commented on #164
👋 greetings from afar. Not gonna make it, but have a great session!

[2018-09-28 15:42] littledan commented on #164
Unfortunately I won't be there either. I'd be happy to call in, though!

[2018-09-28 16:32] srl295 commented on #164
Nor will I be there, regrettably.

[2018-10-01 22:40] RichardLitt commented on #164
I also will not be able to attend this one, and will be on a ✈️ when it is happening.

[2018-10-08 15:56] obensource commented on #164
This is a super big bummer, but it's likely that I might not make it to NJSI/NodeSummit either. My partner may have to have an emergency surgery this week and I'll need to be there for her and our family if so. 😞

I'll be in touch if I'm able to make it and y'all are still interested in calling in. :)

[2018-10-08 20:22] zeke commented on #164
Sorry to hear that, @obensource. Wishing you and your family well.

[2018-10-09 03:13] RichardLitt commented on #164
It happens, @obensource! Wishing you well too. :)

[2018-10-09 16:20] veera83372 opened #169 "Another language support"
I would like to add translation for another Indian language-Telugu, Any thoughts?

[2018-10-09 17:28] obensource commented on #164
Thank you all. Looking forward to being in touch regardless. ❤️

[2018-10-10 05:55] #169 closed

[2018-10-15 17:48] JCMais commented on #19
Sounds great, should we start updating the projects README to point to this repo?

[2018-10-15 18:11] zeke commented on #19
I think that's a good idea, @JCMais 👍

[2018-10-29 19:15] helio-frota opened #178 "I would like to join the group"
I would like to constantly help with the translation and be part of the group.
Thank you

:+1:

[2018-11-01 12:37] fhemberger commented on #72
As the redesign process is still in its early stages, it would be great if you could help us in the mean time setting up Crowdin for the current @nodejs/website. There is a lot of translating already happening right now, and we sure could need a better process to handle updates. ;)

[2018-11-01 22:32] AliSawari opened #180 "add Persian to the being translated list"
@nodejs/nodejs-fa is actively translating [Nodejs Website](https://nodejs.org)
@nodejs-crowdin please add the language in [Nodejs Translations in Crowdin](https://crowdin.com/project/nodejs)
thank you

[Related discussion](https://crowdin.com/project/nodejs/discussions/2/0/home)

[2018-11-03 18:53] zeke commented on #72
@fhemberger I'd be interested in exploring this. Does the website group meet regularly? If so, I can make an effort to join the next meeting to discuss this.

[2018-11-09 11:04] fhemberger commented on #72
@zeke No, we don't have any sort of team meetings (we have > 160 contributors 😁). Everything is discussed in GitHub issues.

[2018-11-11 20:03] #178 closed

[2018-12-04 03:05] maddhruv opened #186 "isolate the module and docs"
The concern I want to raise here is about isolating the module/script that we use for collecting the node versions docs and the translated _docs_ into two different branches
- _master_ branch - docs (en + translated)
- _module_ branch - module (i18n) and scripts

#### Why?
It is very difficult to clone/pull all these translated file/docs every time, which is an unnecessary flow if one wants to wri

[2018-12-04 03:05] maddhruv commented on #186
/cc @zeke @amorist @lukaszewczak

[2018-12-04 09:33] maddhruv commented on #186
but even if we are to publish the module, will we be publishing all the content as well?

[2018-12-04 09:58] amorist commented on #186
just json file

[2018-12-04 10:00] amorist commented on #186
or load content from master branch (master branch - docs (en + translated))

[2018-12-04 10:03] maddhruv commented on #186
the problem that shall persist is about cloning the whole repo with translated content every time?

[2018-12-04 11:53] amorist commented on #186
#133

[2018-12-04 23:03] zeke commented on #186
@maddhruv can you describe in more detail what is difficult about this process?

[2018-12-05 01:37] maddhruv commented on #186
Whenever I clone or fetch the repo
There are thousands of files - translated docs
Which need to be fetched

[2018-12-06 02:14] maddhruv commented on #186
can't we do both the things separate as
- translated docs is a separate module
- translate script/module is separate
?

[2018-12-10 18:12] zeke commented on #50
I like that idea, @oppianmatt. But I would favor using key strings that lend themselves to easy addressability in JS and in templating languages. Spaces make things tricky, so instead of `Hello World`, I would prefer `hello_world`.

[2018-12-10 18:16] svenkatreddy opened #187 "Request : Add Telugu Language"
Hi,

I would like to join & contribute translations for Telugu.
Wiki: https://en.wikipedia.org/wiki/Telugu_language
Total Telugu speaking population: 81 million
Just for stats: It is the most widely spoken member of the Dravidian language family which puts ahead of other languages which are supported.

Lot of software engineers in U.K/U.S. are from telugu speaking background.
Reference: https://ww

[2018-12-16 12:03] maddhruv commented on #187
Ref - https://github.com/nodejs/i18n/issues/169

[2018-12-16 12:03] maddhruv commented on #187
I am closing this issue
feel free to reopen if necessary

[2018-12-17 19:40] svenkatreddy commented on #187
"The languages we have selected are based on the statistics of the geographic audience the nodejs website has, and I don't think telugu could have much audience with respect to the efforts we put into translating into it"
How does nodejs sum geographic audience ?
if it is by region, there are good amount of people who speak telugu doesn't stay in region ex: United States.
Good example we have is T

[2018-12-20 01:21] zeke commented on #187
Thanks for opening this issue, @svenkatreddy. Here's some historical context on why we chose the initial set of languages: https://github.com/nodejs/i18n/issues/70

In general, the Electron i18n project (the localization model on which the Node.js i18n project is largely based) has enabled all languages as translators have requested them, with the exception of Venezuelan Spanish, which our Spanish

[2018-12-21 01:09] JCMais opened #189 "Add new members to nodejs-pt i18n team"
members @Drieger, @glaucia86 and @cezaraugusto are making contributions translating docs to Portuguese, and they want to join the nodejs-pt i18n team, and I think it's more than well deserved.

I don't have enough privileges to add them to the team.

Related to https://github.com/nodejs/nodejs-pt/issues/69

Some translation work made by them:

https://github.com/nodejs/nodejs.org/pull/1953
https:/

[2018-12-23 09:04] fhemberger commented on #19
Somewhat related: We should also check if we still need the `nodejs/nodejs-*` repositories. They date back from io.js (2015) and were meant for translators to coordinate, but many of them have not been touched ever since.

Most translation related discussions happen directly in the PRs on `nodejs/nodejs.org`.

[2019-01-10 11:39] JCMais commented on #189
Closing, members were added here https://github.com/nodejs/nodejs.org/pull/1953#issuecomment-449889484

[2019-01-10 11:39] #189 closed

[2019-01-29 12:25] BrsJsk opened #191 "Request | Add Serbian Language"
Hi,

I would like to join and contribute translations for Serbian.
I don't know if you need Serbian translations as it's not enabled in crowdin.com.
If it gets enabled, I would be happy to join and contribute.

[2019-01-29 20:09] ljuba95 commented on #191
+1 would also help with this.

[2019-02-04 19:04] fhemberger commented on #72
@nodejs/i18n *bump*

[2019-02-05 16:07] Andrulko commented on #72
@fhemberger If your translators team have any questions, I will be happy to answer / join a meeting. Not sure if you've tried our In-Context for website translation:
https://support.crowdin.com/in-context-localization/

[2019-02-07 03:11] outsideris commented on #72
Now, we are using the crowdin for translating our website?

[2019-02-07 05:15] fhemberger commented on #72
@outsideris No, not yet. But translation became a huge part of the website's PRs, so I think we could profit from joining whatever is used for translating the docs. Also to have a better comparison which translations are not up-to-date, etc.

[2019-02-07 18:40] fhemberger commented on #72
@zeke Awesome, looking forward to it!

[2019-02-07 18:45] fhemberger commented on #72
@zeke BTW, are changes on Crowdin synced back to the Node.js docs in the main repo?
If so: Could we add the current website as a second project? Just to try out the workflow on some live content?

Translations are all in https://github.com/nodejs/nodejs.org/tree/master/locale

[2019-02-07 19:48] zeke commented on #72
The source English content comes from https://github.com/nodejs/node/tree/master/doc, and is fetched for all currently supported versions of Node.js

Crowdin opens PRs on this repo (node.js/i18n) that add translated Markdown files in other languages. The goal is for the new website to consume the contents of this repo as a node module. See https://github.com/nodejs/i18n/issues/92 - Here's a WIP PR

[2019-02-15 16:55] glaucia86 commented on #72
@maddhruv @fhemberger I do not know if you're noticing, but the Reactjs.org team tried to do the translations through Crowdin. But without success.
So what they decided to do? They opened the following issue https://github.com/reactjs/reactjs.org/issues/1605
where they organized by language and called on the community of the whole world to help with translations.
Those responsible for approving an

[2019-02-15 17:00] zeke commented on #72
I disagree. The Electron project has over 1000 volunteer translators, and we're seeing great progress in numerous languages: https://electronjs.org/languages

From https://github.com/reactjs/reactjs.org/issues/1605

This is existing unscalable approach used by the @nodejs org. One of the benefits of using Crowdin is that all content in all languages is guaranteed to be up to date, even if not full

[2019-02-15 20:36] glaucia86 commented on #72
ok. I just give a other option. What all of you guys deciced it. I will acept it. Thanks.

cc: @zeke

[2019-02-22 10:05] celyes opened #192 "Request to join the group"
Hi everyone.
i would like to ask you about the method in which i'll be a member in the internationalization group.
@Aissaoui-Ahmed and I have been working on the Arabic translation of the website and we would like to be deeply involved by joining the internationalization group for the node.js
Thank you all.

[2019-04-22 13:14] Alex-Temny opened #193 "Request to join the group"
Good day.
I'd like to join i18n Working Group.
I've been contributing mostly for some non-open source projects about web-technologies since the end of 2017 as a translator (English->Russian/Ukrainian).
And I'd like to begin making something useful for open source projects (especially for Node.js) as well.

[2019-04-22 18:13] zeke commented on #193
Hey @Alex-Temny! Thanks for your interest. You can I chatted over email earlier, and you shared some of your existing work, like https://tutsplus.com/authors/alexey-temnykov -- great stuff!

We'd love to have you in the working group. Please open a pull request on this repo, adding yourself to the member list here: https://github.com/nodejs/i18n#current-members

[2019-04-24 20:51] Alex-Temny commented on #193
Hi, @zeke. I've just opened the pull request (first ever on GitHub).
I hope that everything is OK with it.

[2019-05-07 16:49] keywordnew opened #195 "Collab Summit Berlin 2019 is less than a month away, let's register ✍️"
This Collab Summit will be held before JSConfEU at the [Marriott Courtyard Berlin City Centre](https://www.marriott.com/hotels/travel/bermt-courtyard-berlin-city-center/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2
).

The registration link is: https://www.eventbrite.com/e/openjs-collaborator-summit-tickets-55985971548 and the password is: collabsummit.

To get your visa for this event: Email visainf

[2019-05-18 18:43] Aissaoui-Ahmed commented on #192
Hello
Me and @celyes are excited to join
@obensource and @zeke any permission to open pull request !

[2019-05-22 18:30] zeke commented on #192
Yes please go ahead and open a pull request 👍

[2019-05-30 10:23] obensource commented on #34
@nodejs/i18n bumping this. Let's plan on picking back up with regular meetings on 6/18. I'm going to throw out 2pm UTC (7am PST / 16:00 CEST) as the targeted time. Let me know if y'all have any hard conflicts with that, or would like to propose another time. 🙌

[2019-05-30 10:31] obensource commented on #34
@nodejs/i18n I'll get this on the Node.js calendar asap, but for now let's track this [calendar event](https://calendar.google.com/event?action=TEMPLATE&tmeid=M3NrajZrdTFoYzZhNWZ2anI4b2Flam40aGogYmVubWljaGVsQGludmlzaW9uYXBwLmNvbQ&tmsrc=benmichel%40invisionapp.com). 🗓

[2019-05-30 12:13] obensource opened #197 "OpenJS Summit i18n WG Session Agenda"
## Agenda

### Reiterate what @nodejs/i18n is about.
* Translation
* Intl implementation in Node.js
* ECMA 402 Support

### Website redesign
* [Current Status](https://github.com/nodejs/i18n/projects/1)
* New Project board
* What are the current needs

## Intl in Node.js
* How can we create a landing / infra for and/or support the nodejs intl group in i18n.
* Update from @srl295

## ECMA 402
- Wha

[2019-05-30 12:30] srl295 commented on #197
- https://github.com/unicode-org/full-icu-npm/issues/36 - `full icu` project

[2019-05-30 12:37] obensource commented on #197
Full-ICU issue: https://github.com/nodejs/node/issues/19214

[2019-05-30 12:45] srl295 commented on #197
- for contributor guide: here's the 'stack' document https://github.com/nodejs/Intl/issues/17

[2019-05-30 12:48] srl295 commented on #197
- https://github.com/nodejs/node/issues/3460 mothballed 'detect full icu'

[2019-05-30 13:14] srl295 commented on #197
- [ ] TODO: file a ticket in ICU for lazy loading, even network fetch? of data (i could not find anything..)

[2019-05-31 05:38] veera83372 commented on #187
@svenkatreddy Count me in as well, I would like to be part of it

[2019-05-31 12:31] eemeli commented on #197
As a follow-up on yesterday's discussion, I put this together:
https://github.com/eemeli/proposal-intl-loadlocales

[2019-06-04 12:57] Alex-Temny opened #198 "Request to become a proofreader on CrowdIn"
Hi.
I joined the Node.js i18n Working Group near a month ago.
I've translated just 1 file on CrwodIn since that time. --> https://crowdin.com/translate/nodejs/48/en-ru
While translating I found some little issues in the original documentation. I've made the PR to fix them --> https://github.com/nodejs/node/pull/27853
That PR was approved.
So, I understand what I'm translating.
I'd like to ask to m

[2019-06-11 02:48] amorist commented on #192
Done.

[2019-06-11 02:48] #192 closed

[2019-06-11 02:49] amorist commented on #193
Done #194

[2019-06-11 02:49] #193 closed

[2019-06-14 03:41] zeke commented on #198
Hey @Alex-Temny.

But, as far as I understand, the docs on CrowdIn were not updated automatically

Correct. The translations in this nodejs/i18n repo come from Crowdin, and are not at all related to the translations that live in nodejs/node.

it's possible to consider getting me Manager permissions on the Crowdin project

I think I mentioned **Proofreader** permissions, which gives you the ability

[2019-06-14 11:58] Alex-Temny commented on #198
ok, sorry for misunderstanding. Proofreader permissions would be great for me.
thanks

[2019-06-19 23:23] Alex-Temny commented on #198
as for
"I think I mentioned Proofreader permissions...",

I intentionally checked my Gmail email and I can clearly see
"...once you're in the group, we can consider getting you Manager permissions
on the Crowdin project so you can more effectively contribute..."

--> "..Manager permissions..."

**I'll be more than happy with proofreader status.**

But it's **just strange** to see here "I think I m

[2019-06-19 23:36] zeke commented on #198
Sorry about that. I misspoke. The *Proofreader* role should give you enough access to do what you're hoping to do.

[2019-06-19 23:38] zeke commented on #198
I've made you a proofreader for Russian in Crowdin. Please take a look and let me know if it's working for you.

<img width="1003" alt="Screen Shot 2019-06-19 at 4 37 17 PM" src="https://user-images.githubusercontent.com/2289/59808311-98fb0d80-92b0-11e9-9f14-f6283df22c12.png">

Details at https://support.crowdin.com/online-editor/#proofreadingvoting-mode

[2019-07-01 09:45] alexandrtovmach commented on #72
@zeke Hello, really appreciate your help with Crowdin project configuration. Can I help or assist you with it to finally make possible to translate website content too?

[2019-07-01 11:00] alexandrtovmach commented on #72
I had a chat with CrowdIn team, and we discussed the solution for nodejs website. Here is conclusion:

1. Need to create and configure one more project on CrowdIn by _nodejs-crowdin_ user, for example ― *nodejs-website* which will be based on [https://github.com/nodejs/nodejs.org](https://github.com/nodejs/nodejs.org)
2. Probably rename current [Nodejs](https://crowdin.com/project/nodejs) project

[2019-07-02 15:44] alexandrtovmach commented on #72
*Summarizing:*

Currently, all translations of the website content @nodejs/website  goes through PR and all API docs @nodejs/documentation CrowdIn. From my point of view the best option is to move translation process of the website to CrowdIn too, to have one centralized place with all translation data. Later, when @nodejs/website-redesign team complete new version, we can easily migrate to new re

[2019-07-02 17:22] zeke commented on #72
@alexandrtovmach yeah I can help with that. I don't currently have much free time to work on this, but I can help unblock. Someone needs to:

- Update the outdated list of target node versions in: https://github.com/nodejs/i18n/blob/6a0903d733f7b2bbaae0159e5c0bf564b90b7b8c/package.json#L5-L8
- Run this script: https://github.com/nodejs/i18n/blob/master/script/collect.js
- Open a PR with the change

[2019-07-08 14:42] alexandrtovmach commented on #72
@zeke So I've collected the newest content and here's PR. But what about integrating nodejs.org content with CrowdIn as I described.

[2019-07-09 06:44] alexandrtovmach commented on #198
@Alex-Temny If everything works okay, this issue should be closed

[2019-07-09 06:46] alexandrtovmach commented on #195
Seems like this issue should be closed

[2019-07-12 04:45] #198 closed

[2019-07-12 04:46] zeke commented on #72
Once the changes from your PR https://github.com/nodejs/i18n/pull/199 land on master, they'll automatically be ingested into Crowdin, and Crowdin will soon after create a followup PR that updates the translated files to be in sync with the source English.

[2019-07-12 04:55] alexandrtovmach commented on #72
@zeke, I see but that's only docs l, but I asked about content for a website.

[2019-07-12 17:15] zeke commented on #72
Oh I'm sorry I misread your comment. There are a few ways we could do this:

### Option 1: Create a second Crowdin project

Like you mentioned in https://github.com/nodejs/i18n/issues/72#issuecomment-507218070, we could create a second crowdin project. This would be relatively easy to set up, but could introduce issues with managing access/membership/proofreaders/managers/isuses/etc. I don't think

[2019-07-15 06:29] alexandrtovmach commented on #72
@zeke Here is a lot of options, but from my point of view better to go with *Option #1*. CrowdIn give us a possibility to manage roles less than Manager _per project_ not per organization, and I think it's okay. Currently, we have the same structure, where one part of collaborators working on website another on documentation, so here're no issues, I suppose.

CrowdIn haven't instances like organiz

[2019-07-15 06:34] alexandrtovmach commented on #72
My account on CrowdIn is `alexandrtovmach` so if we decided to go with _Option 1_ you can create a new project for a website and give me a Manager rights to I can set up translation process with [nodejs.org repo](https://github.com/nodejs/nodejs.org).

[2019-07-16 17:10] zeke commented on #72
That sounds okay to me, @alexandrtovmach. I've reached out to @Andrulko on our private Slack channel for insight on how to best move forward.

[2019-07-16 17:14] alexandrtovmach commented on #72
@zeke Okay, cool

[2019-07-17 15:39] Andrulko commented on #72
@zeke @alexandrtovmach

In your scenario, since currently content is hosted in a separate repositories on GitHub + you would like to automate sync with the help of Crowdin<->GitHub integration, the most optimal way would be another project connected with https://github.com/nodejs/nodejs.org repository.

Translation Memory will be shared across projects and using [Advanced Workflows](https://suppor

[2019-07-17 15:44] zeke commented on #72
Thanks for the insight, @Andrulko.

@alexandrtovmach I'll be happy to set you up on Crowdin. Can you first open a PR here to add yourself to the nodejs/i18n working group? https://github.com/nodejs/i18n#joining

[2019-07-18 05:18] alexandrtovmach opened #202 "Request to join the group"
Hello,
I'd like to join i18n Working Group.

I'm already working on a translating original website [nodejs.org](nodejs.org) and API docs. Want to simplify the process to involve more translators in it and prepare content to migration to the new website.

PR with adding to a memberlist: #201
Related issue: #72

[2019-07-18 05:20] alexandrtovmach commented on #72
@Andrulko Great, thanks for the explanation, appreciate it

@zeke Done #202

[2019-07-19 04:22] zeke commented on #72
@alexandrtovmach thanks for joining the group, and for taking the initiative here. I've invited you as a manager of the https://crowdin.com/project/nodejs project.

[2019-07-19 05:26] alexandrtovmach commented on #72
@zeke Amazing, thank you. I'm start working on it

[2019-07-19 05:53] zeke commented on #202
PR https://github.com/nodejs/i18n/pull/201 has landed. Welcome to the group! 🙌

[2019-07-19 05:53] #202 closed

[2019-07-19 08:08] JohnTitor opened #203 "Request to join the group"
Hi, I'd like to join the i18n group.

I've worked in some open-source communities for [translations](https://crowdin.com/profile/huyuumi). I'd like to work in Node.js also.

/cc @zeke

[2019-07-19 08:21] Andrulko commented on #72
Hey @zeke, @alexandrtovmach! Excited to know you are going to launch another project soon! You have already existing translations, so I have submitted a configuration that will help to import them:
https://github.com/nodejs/nodejs.org/pull/2344

If you wish to start from scratch and ignore existing translations, feel free to remove `content_segmentation: 0` from configuration file. In this case, c

[2019-07-19 16:57] zeke commented on #203
Hi @JohnTitor. Thanks for your interest. Would your goal be to translate content? If so, you can head over to https://crowdin.com/project/nodejs, log in with your GitHub account, and start translating right away!

If you wish to also join the group, you're welcome to, but it's not strictly necessary if your aim is to translate.

[2019-07-19 21:52] JohnTitor commented on #203
@zeke Thanks for replying! Yes, I'd like to translate but I'd also like to join the group and do more things. Could I open a pull request to add me?

[2019-07-20 00:07] zeke commented on #203
Could I open a pull request to add me?

👍

[2019-07-20 07:43] JohnTitor commented on #203
I opened #204.

[2019-07-20 18:15] JohnTitor commented on #203
Also, I've translated 1000+ words, could I become a proofreader? (I'm not sure the best place to link on Crowdin...)

![image](https://user-images.githubusercontent.com/25030997/61582366-fced4c00-ab64-11e9-9d36-52b589600455.png)

[2019-07-20 18:30] zeke commented on #203
@JohnTitor I've promoted you to Japanese Proofreader on Crowdin, and approved your request to join the working group!

[2019-07-20 18:38] JohnTitor commented on #203
Thanks! Closes via #204

[2019-07-20 19:22] JohnTitor commented on #203
One minor question: could I also join the i18n team in Node.js org?

[2019-07-20 19:24] JohnTitor commented on #203
@zeke ^

[2019-07-20 21:30] zeke commented on #203
Hey @nodejs/i18n, what's the protocol for adding someone to the @nodejs org?

![Screen Shot 2019-07-20 at 2 29 20 PM](https://user-images.githubusercontent.com/2289/61584327-ca0e6e00-aafa-11e9-9932-bd37f1ea4fba.png)

[2019-07-21 13:33] JohnTitor commented on #203
@zeke Hmm, is something wrong? Could you click me and "Invite" button? Usually, maintainers can invite someone to the team. Or you may be able to invite to nodejs org directly and add to the team.

[2019-07-21 13:42] maddhruv commented on #203
@JohnTitor we (me and @zeke) both don't have the rights to invite you to the org

without that, we can't add you to the team

cc @bnb can you invite her to the Nodejs Org and add to the i18n team?

[2019-07-21 13:43] JohnTitor commented on #203
Ah, I didn't know that, sorry.

[2019-07-24 11:58] JohnTitor commented on #203
ping @bnb what about?

[2019-07-24 12:11] maddhruv commented on #203
@amiller-gh is also a part of i18n and can add you

[2019-07-25 10:58] alexandrtovmach commented on #72
@zeke could you confirm that you given me permissions to create projects on behalf of _nodejs-crowdin_ account, [like here](https://support.crowdin.com/assigning-managers-to-several-projects/#advanced-management-feature-organization-plans). I can't create any new projects for nodejs now. It'll be strange to have a translation process of nodejs website under _alexandrtovmach_ account I think, so I

[2019-07-25 11:15] alexandrtovmach commented on #72
In addition, I had a discussion with a nodejs.dev team, who works on a new version of website, and they would happy to go with one main translation process. But we found some doubts about migration process and content reusability in general.

Points:
- differences in the sites structure
- not too much content from the nodejs.org will be used and a lot of them will be modified or write from scratch

[2019-07-26 20:22] zeke commented on #72
Hey @alexandrtovmach. In order to create a new Crowdin project we'll need to first log in as @nodejs-crowdin. I have credentials for that, however my public key has changed since I last logged in, so I have opened a request to get my new public key added so I can log in again.

Apologies for all the roadblocks, and thanks for your persistence and patience. 👍

[2019-07-27 11:38] alexandrtovmach commented on #72
@zeke Sure let's do this!)

[2019-07-28 18:57] zeke commented on #72
Update: still waiting on someone from the build team to add my public key.

[2019-07-30 14:04] JohnTitor commented on #203
Ping @bnb @amiller-gh could you invite me to the Node.js org?

[2019-08-03 17:58] JohnTitor commented on #203
I heard that @obensource might be able to do that - could you invite me to the Node.js org?

[2019-08-06 11:13] alexandrtovmach commented on #72
@zeke Any updates?

[2019-08-08 05:07] zeke commented on #72
I got stuck trying to decrypt the password for the @nodejs-crowdin user account, which owns the Crowdin account. @obensource do you happen to have access?

[2019-08-09 16:36] JohnTitor commented on #203
I'd like to close this issue because a member sent me an invitation.

[2019-08-09 16:36] #203 closed

[2019-08-13 10:13] alexandrtovmach commented on #72
@zeke @obensource any updates? That's blocker for me...

[2019-08-20 10:09] alexandrtovmach commented on #72
😭

[2019-08-22 09:35] darshana5793 opened #205 "update string in i18n cache"
can the string be updated in i18n cache without requiring a reload and without updating the content file?

[2019-09-03 21:23] obensource commented on #72
@zeke & @alexandrtovmach – sincere apologies for my extremely long delay here. Thank you for your passion for i18n! 🙏

I dug around and found the proper credentials for the Node.js account, @alexandrtovmach let me know how you'd like those delivered. @alexandrtovmach we could gpg via keybase if that works! 👍

[2019-09-03 21:24] obensource commented on #72
@zeke I'll send them over to you right now.

[2019-09-03 21:37] obensource commented on #72
Follow up: I should likely review our sharing policy – not sure if sharing GPG via keybase goes against it, but I'll get it to y'all however is appropriate. 🍻

[2019-09-04 04:36] zeke commented on #72
Here we go! https://crowdin.com/project/nodejs-website

<img width="1061" alt="Screen Shot 2019-09-03 at 9 35 36 PM" src="https://user-images.githubusercontent.com/2289/64226085-cf4d2f80-ce92-11e9-938b-13abadab81ce.png">

@alexandrtovmach I've added you as a manger for this new project.

[2019-09-04 04:36] zeke commented on #72
Thanks @obensource for the creds 👍

[2019-09-04 13:25] alexandrtovmach commented on #72
@zeke @obensource Thank you.

About "sharing policy" ― I don't actually understand what is that. Could someone explain or give me some resources?

[2019-09-18 15:19] alexandrtovmach commented on #72
@zeke I need to connect nodejs.org repo to CrowdIn here:
![Selection_311](https://user-images.githubusercontent.com/28801003/65161140-b2426000-da3f-11e9-9d3d-a7079e73cab0.jpg)

But I haven't enough rights in nodejs organiztion to be able set this integration

[2019-09-18 16:53] zeke commented on #72
Hey @obensource I forget: what GitHub user is associated with the the `nodejs-crowdin` Crowdin user?

[2019-09-18 17:06] alexandrtovmach commented on #72
@zeke Seems like it's called `nodejs`
![image](https://user-images.githubusercontent.com/28801003/65169694-b8d8d380-da4f-11e9-815a-0d8045f281f4.png)

[2019-09-18 17:08] alexandrtovmach commented on #72
So we have _CrowdIn/Node.js_ project that's connected with _github/nodejs_
And we need to connect the same _github/nodejs_ with _CrowdIn/nodejs-website_

[2019-09-18 17:10] alexandrtovmach commented on #72
@zeke If you have access to it, just go https://crowdin.com/project/nodejs-website/settings#integration and connect accounts. All other things I'll handle by my own

[2019-09-26 06:16] alexandrtovmach commented on #72
@zeke any chance to help me with that?

[2019-09-26 22:45] maleta commented on #191
+1

[2019-09-29 15:12] TiagoDanin commented on #72
Github user is @nodejs-crowdin (https://github.com/nodejs/build/issues/1220#issuecomment-379916791)

[2019-10-17 20:28] nschonni commented on #72
Any progress here, it would help with https://github.com/nodejs/nodejs.org/issues/2696

[2019-10-18 00:47] alexandrtovmach commented on #72
@nschonni Unfortunately, I'm still blocked with access to github account

Wait for @zeke @obensource

[2019-12-05 05:00] nschonni commented on #72
@zeke @obensource any progress? There have been more people trying to add additional languages and having a better way for them to start contributing would be great

[2019-12-20 02:46] D-lyw opened #206 "Not found v12.x document in crowdin"
I can see the v12.x related documents in the i18n/content  directory, but I can't see it under https://crowdin.com/project/nodejs/zh-CN#, what should I do

[2019-12-29 23:34] NLDev opened #208 "Help with German translations"
Good Day!

I'd like to offer help with the german translation of NodeJS and join the team.
I was a bit confused because the [readme of the german NodeJS orga](https://github.com/nodejs/nodejs-de) states, the translation process is on hold.
The [crowdin page](https://crowdin.com/project/nodejs/de#) however seems to be open for contributions.
Is help on that subject needed (in terms of translation /

[2020-02-03 17:18] maddhruv commented on #195
Closing as the Summit is over

[2020-02-03 17:18] #195 closed

[2020-02-04 02:59] #164 closed

[2020-02-04 03:03] #197 closed

[2020-02-04 03:03] maddhruv commented on #197
Closed as the Summit is over

[2020-02-04 03:10] maddhruv opened #209 "i18n WG Meeting - Feb 14"
### Date & Time
- 5:00 pm GMT on Feb 14, 2020

### Links
- [Zoom link](https://zoom.us/j/307660555)
- [Google Docs Minutes](https://docs.google.com/document/d/1pV7NpXE429qw_T7BL6TZGVkL9Pyn9UkJ1_67hzvFtvs/edit?usp=sharing)

### Agenda
- Unblock translation process - https://github.com/nodejs/nodejs.org/issues/2906
- Intl vs i18n - https://github.com/nodejs/TSC/issues/813
- website content to be tra

[2020-02-04 18:29] nschonni commented on #209
Should the regular website team also be invited? They're impacted by the first agenda item

[2020-02-04 18:36] maddhruv commented on #209
Sure, included :+1:

[2020-02-04 18:40] obensource commented on #209
@maddhruv @nschonni imo, we should overlap soon – but for this next i18n WG meeting, there's going to be enough logistics to cover to get the i18n WG back in sync, etc, that it would probably be better time spent joining us at the next WG meeting with website i18n on the agenda. Y'all should join if you'd like and might get something out of it, but just fyi (this is kind of a 'regroup' meeting sin

[2020-02-04 18:41] obensource commented on #209
@zeke! If you're able, come join us! 🙌🎉🍻

[2020-02-04 18:48] obensource commented on #209
@srl295 if you're able, please join us! It would be awesome to have your amazing wizardry with us to help push things forward! 🧙‍♂️

![research](https://user-images.githubusercontent.com/1910457/73775717-471dcf80-473b-11ea-9a4b-c2f44428e517.png)

[2020-02-04 20:53] zeke commented on #209
Thanks for the ping. I doodled.

[2020-02-06 14:55] RichardLitt commented on #209
So, we have our dates, but we didn't decide on a process for dealing with times for when there is no consensus. I'm leaning towards the February the 14th time, if only because I know that @Zeke has been instrumental. @TiagoDanin Is there any way you can make that time?

[2020-02-06 17:48] RichardLitt commented on #209
Looks like I also failed to set an end-date. Thanks for filling this out, Aymen. At the moment, it seems that the 14th is the best day for the most people. Shall we go with that time, everyone?

[2020-02-06 19:03] obensource commented on #209
@RichardLitt sounds great, looks like that's what works best for everyone – let's do it! 🎉

Thanks for wrangling us together via doodle! 🙏

[2020-02-09 01:31] TiagoDanin commented on #209
I'll do my best, but I’m not promising anything :smiley:

[2020-02-13 17:11] RichardLitt commented on #209
Awesome. See you all there!

Does anyone have a paid Zoom account? Mine would cap us at 40 minutes, which might be a good idea anyway.

[2020-02-13 19:15] obensource commented on #209
@RichardLitt Wahoo! See you there! 🙌

@bnb – can we use the node.js zoom account? Would be fun to capture & stream if possible. 😄

[2020-02-13 19:16] bnb commented on #209
@obensource yes. Currently on a train but ping me on Slack so I can get you the credentials.

[2020-02-13 19:17] obensource commented on #209
@bnb RAD will do! Thanks a million! 🙏

[2020-02-14 03:33] maddhruv commented on #209
Literally forgot to create a calendar event, added now - [calendar event]( https://calendar.google.com/event?action=TEMPLATE&tmeid=MDZzaWxiaXA0cG5zZTlzbDUxOWdvMXNoanMgbm9kZWpzLm9yZ19ucjc3YW1hOHA3ZDdmOWFqcnBudTUwNmM5OEBn&tmsrc=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.calendar.google.com)

[2020-02-14 15:55] obensource commented on #209
Haven't been able to receive the node zoom credentials yet, not a big deal if not – I'll share a zoom link shortly before the meeting regardless, record the meeting, and post it on our YT channel in post if needed. 👍

cc @bnb (thanks for your help! 🙏)

[2020-02-14 16:00] obensource commented on #209
Got the creds from @bnb, getting YT access for streaming now as well – will share the link shortly. 👍

[2020-02-14 16:03] RichardLitt commented on #209
Fantastic. Thanks @bnb.

[2020-02-14 16:12] obensource commented on #209
Zoom link unlocked! [Here it is](https://zoom.us/j/307660555)! 🎉

[2020-02-14 16:21] obensource commented on #209
@maddhruv I noticed that the permissions on the minutes doc weren't set (read only), so I made a new one with edit access for everyone and updated the link in the issue description. 👍

[2020-02-14 17:00] obensource opened #210 "Update the CONTRIBUTING.md & GETTING_STARTED.md guides"
## Description
Essentially, we don't have a contributing guide, and should extrapolate our getting started guide. We need clear documentation that enables participants to get involved in all major aspects of this initiative:
* How to join the i18n WG, and get involved in the initiative.
* How to work on the i18n repo to localize content coming from Crowdin.
* How to join Crowdin and localize Node.

[2020-02-14 17:26] srl295 commented on #210
modify  https://github.com/nodejs/i18n/issues/210 per today;'s discussion

[2020-02-14 17:50] obensource commented on #19
The i18n WG considers this work to be complete, closing.

[2020-02-14 17:50] #19 closed

[2020-02-14 19:00] maddhruv commented on #209
I am very sorry, could't attend the meeting, got stuck into something unavoidable. 😣😣

[2020-02-14 21:03] alexandrtovmach commented on #209
Hello guys,
Unfortunately, I haven't time to join but I'm really interested in questions that you discussed. So I've checked [report](https://docs.google.com/document/d/1pV7NpXE429qw_T7BL6TZGVkL9Pyn9UkJ1_67hzvFtvs/edit?usp=sharing) and just want to let you know, I'd like to help with translations process.
I'd like to share my vision of steps:

1. As you mentioned, we already had a lot of translate

[2020-02-15 22:03] seirina-of-js opened #211 "i18n (Russian)"
I'd love to get involved and help with English-Russian translations :)

[2020-02-15 22:09] seirina-of-js commented on #211
I also could take responsibility for reviewing others' translations for this very language pair, as I used to work as a translator before.

[2020-02-15 22:48] nschonni commented on #211
Ping @nodejs/nodejs-ru

[2020-02-15 22:50] seirina-of-js commented on #211
@nschonni I guess I have no access. It gives back 404

[2020-02-15 22:53] seirina-of-js commented on #211
@nschonni It appears this one https://github.com/nodejs/nodejs-ru is archived and no longer maintained...

[2020-02-15 22:57] nschonni commented on #211
It's the `@` for the Russian localization GitHub team for Node, so they'll get a notification to take a look at this issue

[2020-02-15 22:59] seirina-of-js commented on #211
@nschonni ah, okay. Thanks :)

[2020-02-18 19:33] dags opened #212 "Help with es locale i18n."
Hi,
let me know how could I help on 'es' i18n, if help is needed.

Regards,
Diego.

[2020-02-18 23:06] a0viedo opened #213 "l10n (Spanish)"
Hi there! 👋

Thanks for moving forward the initiative and I'm happy to facilitate more people into translating content. My goal would be to keep this [repo](https://github.com/nodejs/nodejs-es) up-to-date with relevant information and possibly add people to the @nodejs/nodejs-es team. I wanted first to ask a few things I struggled to understand so that we can work on a better CONTRIBUTING.MD.

- *

[2020-02-19 00:25] zeke commented on #209
Eek! Sorry I missed this meeting, y'all.

I would love to attend the next one. Unfortunately, I don't think I can make it to that 10:30pm Pacific time slot. I'm usually offline (and asleep!) by that time. If it's possible to do another doodle that would make my chances of attendance much higher.

[2020-02-19 00:37] obensource commented on #209
@zeke oh, sorry if there's been a miscommunication! We're meeting weekly on Fridays at 10am PT (6pm UTC) at the moment. 👍

[2020-02-19 00:39] obensource commented on #209
We'll likely need to do a bi-monthly or monthly meeting at a time that's ideal globally like that as well in order to make this group accessible to everyone.

[2020-02-19 00:40] obensource commented on #209
I'll get a reoccurring calendar invite going for everyone asap. 🙌

[2020-02-19 00:44] #209 closed

[2020-02-19 00:47] obensource commented on #209
Accidentally closed this issue (on mobile), however the meeting is passed so I guess it's ok. @alexandrtovmach so excited to get things moving with your and very thankful for your continued help! 🙌

[2020-02-19 04:04] nschonni commented on #212
Ping @nodejs/nodejs-es

[2020-02-19 18:13] zeke commented on #209
Nice! I have a conflict this week, but that's generally a good time slot for me. 👍

[2020-02-21 17:44] obensource opened #214 "i18n & l10n team collaboration best practices guide"
## Description
In addition to updating our basic contributing guides, it would behoove us to craft a best practices guide for collaborating with all localization teams. This should identify the common areas and patterns where the i18n WG and l10n teams can help enable and strengthen each other. These areas can then become ongoing aspects of team maintenance, allowing members of this WG and of l10n

[2020-02-21 17:51] obensource opened #215 "i18n WG Meeting - Feb 21"
### Date & Time
- 6:00pm UTC on Feb 21, 2020

### Links
- [Zoom link](https://zoom.us/j/307660555)
- [Google Docs Minutes](https://docs.google.com/document/d/1rsiTgkOp4GH2hf6LV8c1o1UBozTtViTCTmQek6lexrs/edit?usp=sharing)

### Agenda

#### l10n
- i18n & l10n best practices guide - https://github.com/nodejs/i18n/issues/214
- Update the contributing and getting started guides - https://github.com/nod

[2020-02-21 17:53] obensource commented on #215
Sorry I'm posting this at the last minute. But I feel it's better just to continue to create consistency in this working group regardless, rather than wait another week. 👍

No problem if you can't join, please feel free to post any thoughts or questions you have here. We'll be meeting at the same time next week. 🎉

[2020-02-21 18:05] alexandrtovmach commented on #215
Will join in a 20 minutes

[2020-02-21 18:05] obensource commented on #215
@srl295 @RichardLitt – would love to have you with us now if you're able to join, but no worries either way! 🎉

[2020-02-21 18:11] sam-github commented on #215
If anybody in the WG wants to take on sorting https://github.com/nodejs/TSC/issues/813 out, I'd sure appreciate it!

[2020-02-21 18:19] srl295 commented on #215
@obensource sorry, conflict today, keep me invited!

[2020-02-21 20:18] alexandrtovmach opened #216 "Add Crowdin demo to agenda"
After weekly meeting https://github.com/nodejs/i18n/issues/215, I've made a few notes about "what I should do?":

1. Create an issue about comparing old / new platforms
2. Write a guide about roles and how Crowdin works

Contacted with a Crowdin team for information, and they are proposed to make a demo of their product and help us to configure the whole process.

How about that? Maybe we can sche

[2020-02-24 20:44] obensource commented on #215
## Calendarizing all the things! 🎉
@nodejs/i18n Hi y'all! I'm setting up our recurring meeting on the calendar right now. If you'd like a recurring calendar invite, would you please send me your email address directly?

🐦: twitter.com/obensource (DMs)
📧: benpmichel@gmail.com
🔑: keybase.io/obensource (encrypted messaging)

![online users](https://user-images.githubusercontent.com/1910457/75189324-c

[2020-02-24 22:39] a0viedo commented on #215
Thanks for organizing the meeting @obensource! Forgot to mention that I can't see 12x in crowdin for Spanish translations:
![image](https://user-images.githubusercontent.com/2440935/75197530-39a5a500-573d-11ea-8f99-3d686775926f.png)
Who has permissions to create that resource?

[2020-02-25 12:02] alexandrtovmach commented on #215
@a0viedo for now we haven't connected to Crowdin correctly and going to fix that in near future

[2020-02-25 12:02] alexandrtovmach commented on #215
@obensource Did you have a chance to see this issue https://github.com/nodejs/i18n/issues/216

[2020-02-28 14:04] alexandrtovmach opened #217 "i18n WG Meeting - Feb 28"
### Date & Time
* 6:00pm UTC on Feb 28, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/11xXdYFJi-hslaT2qvBkQdC9X9ICIFSCCaNvJDtmLBHo/edit?usp=sharing)

### Agenda

#### l10n
* Crowdin demo: https://github.com/nodejs/i18n/issues/216
* Localization best practices guide, #214
* Update our Guides, #210
* Create Crowdin Glossary, #81

[2020-02-28 14:06] alexandrtovmach commented on #217
@obensource seems busy, so I took the responsibility of creating this issue. Please mention any issues/points to discuss today.

[2020-02-28 16:55] maddhruv commented on #217
I won't be able to join even this time, stuck in some other meetings
Might join in the middle

[2020-02-28 16:59] obensource commented on #217
@alexandrtovmach thanks for creating this issue, I really appreciate it! 🙏

@nodejs/i18n – on that note, I hope everyone feels like they can pitch in anywhere (like @alexandrtovmach, and @maddhruv a couple weeks ago) if something needs to be done. We're all in this together! ♥️

In this case, it would be nice to automate opening and closing our WG meeting issues – which we can definitely do with [

[2020-02-28 18:07] RichardLitt opened #218 "CrowdIn Badge for percentages of translations"
It'd be great to have these! 🙌🏽

I'm not sure if these should be on every repo, or only on this repo, or on the website. However, as a first step - let's get a way to show the badges as percentages.

### To Do:
- [ ] Find the link for having translations percentages as a badge
  - [ ] Open a link to the CrowdIn page and explaining how to get these
- [ ] Figure out the percentages of CrowdIn transl

[2020-02-28 18:20] srl295 opened #219 "record all i18n groups in Markdown in repo, and contact for people"
from i18n meeting last week:

- record all i18n groups in Markdown in repo, and contact for people

There are a lot of i18n groups, make sure there is a way to find them.

[2020-02-28 18:21] srl295 opened #220 "Iterate on a way on taking the pulse of everyone"
Iterate on a way on taking the pulse of everyone ( across i18n groups, see #219  )

. Probably not primarily a realtime meeting

[2020-02-29 12:54] amorist commented on #218
I think this is a good idea.
https://www.electronjs.org/languages
![image](https://user-images.githubusercontent.com/14037268/75607758-5a06a280-5b35-11ea-8caf-8dc203c86022.png)

[2020-03-03 12:12] a0viedo commented on #217
I was wondering if it would make sense to remove (or possibly hide) from crowdin the directories of old documentation like v6.x or v8.x to help avoid confusion for incoming members of the Spanish translation group.

@alexandrtovmach is that possible?

[2020-03-03 12:24] alexandrtovmach commented on #217
@a0viedo as a quick solution added mark "Low priority":
![image](https://user-images.githubusercontent.com/28801003/75775374-8c451980-5d5a-11ea-9ca3-b9093b0ac543.png)

I can permanently remove original files, but I'm not sure that's the good idea. Let me research a bit

[2020-03-04 07:27] alexandrtovmach commented on #218
@RichardLitt Thanks for that, we'll keep in mind this idea, but for now is too early to add this. firstly we need to configure the process and the invite translators to help us. We'll back in month or so, and yeah Crowdin providing us wiht this great badge for GitHub repo:

[![Crowdin](https://badges.crowdin.net/nodejs-website/localized.svg)](https://crowdin.com/project/nodejs)

[2020-03-04 07:28] alexandrtovmach commented on #216
Completed

[2020-03-04 07:28] #216 closed

[2020-03-04 07:28] alexandrtovmach commented on #206
coming with this PR #221

[2020-03-04 07:33] alexandrtovmach commented on #211
@seirina-of-js As you already know, we are trying to fix the translation process now

Yeah, https://github.com/nodejs/nodejs-ru archived, and I can unarchive it, but seems like it's no longer needed, because all translation management going to be on Crowdin side, so this repo is just for some instructions and community connection.

[2020-03-04 13:58] D-lyw commented on #206
Got it, thanks!

[2020-03-04 13:58] #206 closed

[2020-03-04 14:56] a0viedo commented on #217
Low priority would also help, deleting might be irreversible...if there was an alternative similar to hiding those directories I think it would be the best option.

[2020-03-04 21:49] zeke commented on #217
Hey y'all! I am hoping to make it to this week's meeting on March 6.

Do we use the same zoom URL for each weekly meeting?

[2020-03-06 05:19] obensource commented on #217
@zeke we do! Setting things up for tomorrow's meeting issue/minutes now. Would you mind sending me the email address you use for calendar invites via keybase or your preferred messaging method so I can invite you to the recurring event? Thanks a million! 🍻

[2020-03-06 07:54] #215 closed

[2020-03-06 07:55] #217 closed

[2020-03-06 08:16] obensource opened #222 "i18n WG Meeting - March 6th"
### Date & Time
* 6:00pm UTC on March 6, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1_X3Ybw5nRC8vKU2zfcValo-Kj0y76GpAfYEMJtGUaS0/edit?usp=sharing)

### Agenda

Please feel free to add or subtract issues as is relevant. 👍

#### l10n
* l10n team structure mirroring Crowdin roles: Owners (l10n team champions), Reviewers, Trans

[2020-03-06 08:18] obensource commented on #222
@nodejs/i18n hi all! 👋 Unfortunately, I'm not going to be able to make this meeting. Can someone volunteer to facilitate it for me today? I can get you the zoom credentials for running it if you need. Thanks a million in advance! 🙏

[2020-03-06 09:18] alexandrtovmach commented on #222
@obensource I can help, let's chat in slack

[2020-03-06 16:30] obensource commented on #222
@alexandrtovmach awesome! Thanks so much for your help! If you wouldn't mind facilitating, maybe @bnb can help to start the meeting if he's free since there's an additional layer of access needed to start the YouTube steam. Can you lock that off today for us @bnb if you're available at all?

[2020-03-06 17:06] bnb commented on #222
I can do it 👍

[2020-03-06 18:00] obensource commented on #222
Thanks a million @bnb, really appreciate it! 🙏

[2020-03-06 18:58] obensource commented on #222
@nodejs/i18n hey y'all, how'd it go? I noticed the meeting didn't make it to YouTube, we're y'all able to record it?

[2020-03-06 19:42] alexandrtovmach commented on #222
We're done early because no one on the call, and here's record:
https://www.youtube.com/watch?v=pwau6gzooxo

[2020-03-11 00:45] RichardLitt commented on #218
Excellent. Thank you, @alexandrtovmach. I look forward to hearing back!

[2020-03-11 00:46] RichardLitt commented on #222
I also missed it! @obensource same time this week?

[2020-03-13 15:43] obensource opened #223 "i18n WG Meeting - March 13th"
### Date & Time
* 6:00pm UTC on March 6, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1_X3Ybw5nRC8vKU2zfcValo-Kj0y76GpAfYEMJtGUaS0/edit?usp=sharing)

### Agenda

Please feel free to add or subtract issues as is relevant. 👍

#### l10n
* l10n team structure mirroring Crowdin roles: Owners (l10n team champions), Reviewers, Trans

[2020-03-13 15:56] obensource commented on #223
Unfortunately, I'm currently experiencing a family health emergency and won't be able to facilitate or attend today's meeting.

If anyone is willing to facilitate – I can likely hop on to start the youtube stream. If there's no attendance, no problem. We can reconvene next week. :)

Thanks all! 🙏

[2020-03-13 16:53] maddhruv commented on #223
@obensource take care in this prime time, I hope everyone is healthy

Also, I also wont be able to attend

[2020-03-13 16:56] srl295 commented on #223
I'm going to have to drop out this time. But I am getting some things moved forward on the locale data building front. Also ICU 66.1 shipped

[2020-03-13 17:14] RichardLitt commented on #214
Just to clarify:

## We'd like to know more about what l10n teams need to feel supported, and what questions l10n teams have for the i18n working group right now.

[2020-03-13 17:15] RichardLitt commented on #210
Note from today's call: Neither I nor @zeke have the time to do this right now, but we'd love to see this move forward if anyone wants to take a stab at a first draft!

[2020-03-13 17:19] #81 closed

[2020-03-13 17:21] nodejs-crowdin commented on #223
I'm @zeke masquerading as @nodejs-crowdin 👋

I generated a new token with the following scopes: https://github.com/settings/tokens/new?scopes=repo,user,admin:repo_hook&description=Crowdin%20integration

...and added it to the https://crowdin.com/project/nodejs GitHub integration.

cc @alexandrtovmach

[2020-03-13 17:25] zeke opened #231 "Upload new glossary terms to Crowdin"
In https://github.com/nodejs/i18n/pull/91 we introduced a new glossary file! The next step will be to upload these terms to the Crowdin project using Crowdin's API and the https://github.com/crowdin-node/crowdin-glossary npm module.

Details for this process are covered in the OP of this issue: https://github.com/nodejs/i18n/issues/81

cc @alexandrtovmach @maddhruv

[2020-03-13 17:29] zeke commented on #72
I've added a new GitHub Personal Access Token to the https://crowdin.com/project/nodejs GitHub integration. Going to close this issue. Feel free to open more targeted issues if there's something here that still needs to be discussed.

[2020-03-13 17:29] #72 closed

[2020-03-13 17:29] RichardLitt commented on #161
I moved it to 1, with @zeke's approval on the call today. Closing.

[2020-03-13 17:29] #161 closed

[2020-03-13 17:31] RichardLitt commented on #222
Closing this.

[2020-03-13 17:31] #222 closed

[2020-03-13 18:23] JohnTitor commented on #223
It seems @nodejs-crowdin triggers many CI builds?

[2020-03-13 18:32] zeke commented on #223
Hi @JohnTitor what are you referring to? Can you share more details?

[2020-03-13 18:36] JohnTitor commented on #223
@zeke See here: https://travis-ci.com/github/nodejs/i18n/builds
Currently, travis receives every branch commits.

[2020-03-13 19:47] nschonni commented on #72
@zeke that isn't the correct project

[2020-03-13 21:23] zeke commented on #223
Yeah maybe there's a way to use Travis cron jobs for this, instead of running on every commit. Or we could use GitHub Actions. Can you open a separate issue to look into this?

[2020-03-13 21:31] zeke commented on #72
@nschonni oh shoot thanks for pointing that out.

This morning I checked https://crowdin.com/project/nodejs-website/settings#integration and saw an existing GitHub integration there that had synced recently, so I assumed that was still working. But now I see that is integrating with the `alexandrtovmach / i18n` repo, not the canonical`nodejs/1i8n` repo.

I have now removed the existing `alexandrto

[2020-03-13 21:55] nschonni commented on #72
@zeke thanks 👍
I think the `nodejs/i18n` isn't the right project either, should be `https://github.com/nodejs/nodejs.org`, but if the token in now in the `nodejs-website` Crowdin project, that's the important part

[2020-03-15 04:21] maddhruv commented on #231
The ideal way I see to automate the upload is to listen for changes in the corresponding sources - builtins, crowdin-glossary.json, we would run the upload then - maybe via GitHub Actions and automated.

One problem solution - Use github actions and look for path changes and run the upload script, Ref - https://github.com/nodejs/i18n/pull/237#issuecomment-599165872

@zeke if we agree onto this, le

[2020-03-15 04:29] nschonni commented on #231
Here is a sample action file `glossary.yml`
[code]
Don't know enough to see where the Key is needed. You can expose a secret as an environment variable like https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#using-encrypted-secrets-in-a-workflow

[2020-03-15 04:37] maddhruv commented on #231
This action looks good to me, just a note - `package-lock.json` changes would be for dependency upgrade, and `package.json` for case when we update our node versions here - https://github.com/nodejs/i18n/blob/master/package.json#L5

@nschonni would you love to raise a PR?

[2020-03-15 04:40] maddhruv commented on #63
@srl295 are there any updates here? Can I help in some way?

[2020-03-15 04:43] maddhruv commented on #101
@zeke I didn't get the intention behind these test case, how and which part of the Pull Request/Changes are you going to test in this?

[2020-03-15 04:51] maddhruv commented on #93
Looks like the package - https://www.npmjs.com/package/nodejs-i18n is already taken by one of our contributors - https://github.com/TiagoDanin @TiagoDanin
if he is convinced to transfer the ownership, we can add `nodejs-foundation` npm user as the owner and others as collaborators.

Until the i18n module is in WIP, let's figure out the package name and credentials first. What say @zeke @obensource

[2020-03-15 12:47] #231 closed

[2020-03-15 18:11] zeke commented on #101
One of the shortcomings of Crowdin's GitHub integration is that it doesn't delete translated files when the source English file is deleted.

For example, if there was an English file `en/c.md` that was deleted, Crowdin will leave the translated files behind.

[code]

These leftover files can lead to problems down the line.

For the help.github.com website, we have a test that makes sure the Englis

[2020-03-15 18:16] zeke commented on #93
It looks like the `nodejs-i18n` project is still actively maintained, with a commit from 9 days ago. @TiagoDanin is indeed a friend of the Node.js i18n effort here, so maybe that project could be renamed to make way for this module.

As an alternative, what about using the `@nodejs` scope and publishing the package at `@nodejs/i18n`? It looks like there's no precedent for that, as I don't see any

[2020-03-15 18:17] zeke commented on #93
Sorry, should have read the whole thread before commenting!

`@nodejs-foundation/i18n` sounds good to me 👍

[2020-03-15 19:51] nschonni commented on #101
I'd also suggest adding remark-lint along with https://github.com/nodejs/remark-preset-lint-node
I started that work, but ran into some failures because the en-US content was behind.
I just planning to run it on the `content/v12.x` as a start, because I don't think the older content is getting fixed in the same way

[2020-03-16 05:32] nschonni opened #244 "Copy Stats syncing setup from Electron"
Looks like the status.js was probably copied from the Electron setup, but never wired in. It looks like it is used to update their README based on the current translation status from the api https://github.com/electron/i18n
Also looks like they don't need the API key for this.

[2020-03-17 06:30] nschonni opened #246 "Use node-release NPM package for supported versions"
Been playing with this a bit https://www.npmjs.com/package/node-releases
It's just published copies of the index and release schedule from the NodeJS releases.
This would replace the hardcoded versions in https://github.com/nodejs/i18n/blob/05ea21d5f84805806a5f77e23654156804462915/package.json#L5-L8

There is some examples on how this package can  be leveraged over in BrowserList https://github.co

[2020-03-17 19:49] zeke commented on #246
Interesting.

So are you thinking we'd have some code that checks the dates in https://github.com/chicoxyzzy/node-releases/blob/master/data/release-schedule/release-schedule.json, compares to the current date, and produces a list of currently supported versions?

[2020-03-18 00:29] nschonni commented on #246
Yup, that's the idea. Opened an issue over there to see if they'll expose a module for the data, instead of doing the JSON file requires

[2020-03-18 21:52] mhdawson commented on #93
I guess I missed this way back then.

The approach we've taken for other modules under the Node.js project is to publish them from individual accounts (ie adding people as maintainers in npm) and also adding the nodejs-foundation as a maintainer. nodejs-foundation account would only be used to add new maintainers in the case were the other maintainers are no longer active. Publishes would still do

[2020-03-18 21:54] alexandrtovmach commented on #72
@zeke Thank you
@nschonni About confusing with project names, that's my fault because firstly I had project for nodejs website translation (https://crowdin.com/project/nodejs-website), but than when the whole process was staled I changed it, to translate API docs. Going to fix everything soon

[2020-03-19 15:16] srl295 commented on #63
Can you try the test suite above?

[2020-03-20 10:51] RichardLitt opened #247 "i18n WG Meeting - March 20th"
### Date & Time
* 6:00pm UTC on March 20, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1_X3Ybw5nRC8vKU2zfcValo-Kj0y76GpAfYEMJtGUaS0/edit?usp=sharing)

### Agenda

Please feel free to add issues as is relevant. 👍

@RichardLitt: The items below were copied from the last agenda.

- l10n team structure mirroring Crowdin roles: Ow

[2020-03-20 10:54] RichardLitt commented on #247
I regret to say that I will be unable to make this today.

[2020-03-20 16:39] bnb commented on #247
I will be starting the meeting off 👍

[2020-03-20 17:17] srl295 commented on #247
still on another meeting…

[2020-03-20 17:29] designMoreWeb commented on #247
Still in another meeting

[2020-03-20 18:00] alexandrtovmach commented on #247
@zeke And could you also create one more project on Crowdin and give me manager access. Thank you 👍

[2020-03-20 18:01] zeke opened #248 "Requesting access to website repos for @nodejs-crowdin GitHub user"
@nodejs-crowdin is the GitHub user we use to integrate Crowdin with this GitHub repository (nodejs/i18n).

We'd also like to be able to integrate Crowdin with the following repos:

- [x] https://github.com/nodejs/nodejs.org https://github.com/nodejs/nodejs.org/issues/3031
- [x] https://github.com/nodejs/nodejs.dev https://github.com/nodejs/nodejs.dev/issues/438

Not exactly sure which team(s) to p

[2020-03-20 18:15] nschonni commented on #248
I'd suggest opening issues on the individual repos. The teams to ping are problably `website` and `website-redisign` but opening issues there would be better to track the requests and scope of the permission.

[2020-03-20 19:45] zeke commented on #248
Thanks @nschonni. I've opened issues on those two repos:

- https://github.com/nodejs/nodejs.org/issues/3031
- https://github.com/nodejs/nodejs.dev/issues/438

[2020-03-20 19:46] zeke commented on #247
We tried to connect https://crowdin.com/project/nodejs-website to https://github.com/nodejs/nodejs.dev today but discovered that the @nodejs-crowdin user doesn't have the necessary access to that repository. I opened an issue here: https://github.com/nodejs/i18n/issues/248

[2020-03-20 19:47] zeke commented on #247
@alexandrtovmach sure. What should I name it?

[2020-03-20 19:50] alexandrtovmach commented on #247
nodejs-website-dev ?

[2020-03-20 23:56] nschonni commented on #247
@alexandrtovmach can you point https://crowdin.com/project/nodejs-website at  https://github.com/nodejs/nodejs.org

[2020-03-21 00:32] alexandrtovmach commented on #247
@nschonni of course, but it's blocked by #248

[2020-03-22 14:18] okuryu opened #249 "Request to join the group"
Hi there,

Can I join this project as a member? I can help with something related to Japanese. I'm also a member of [nodejs-ja](https://github.com/orgs/nodejs/teams/nodejs-ja/members) team.

[2020-03-22 18:57] zeke commented on #249
Hi @okuryu 👋 Thanks for your interest. We'd love to have you.

Can you open a pull request to add yourself to this README? https://github.com/nodejs/i18n#current-members

[2020-03-23 01:51] okuryu commented on #249
I just created a PR.

[2020-03-23 16:46] #249 closed

[2020-03-26 19:31] nschonni opened #253 "Mark 8.x as low priority like 6.x"
Since 8 has reached EOL, it should probably get marked as a low priority like the 6.x folder was

[2020-03-26 20:10] nschonni commented on #157
@zeke These are in the glossary now https://github.com/nodejs/i18n/blob/master/crowdin-glossary.json#L16-L35
Think this can be closed

[2020-03-26 21:52] #157 closed

[2020-03-27 00:03] alexandrtovmach commented on #253
Done
![image](https://user-images.githubusercontent.com/28801003/77707859-19346900-6fcf-11ea-9b9d-a7ed8b9fb106.png)

[2020-03-27 00:04] nschonni commented on #253
Thanks, I'll remove it from the collect setup after the last sync is done in the other PR

[2020-03-27 00:04] #253 closed

[2020-03-27 00:08] alexandrtovmach opened #256 "Request to be a maintainer of this repo"
I'd like to have maintainer rights for now, because it's easier for me to manage integration process, and also clean up issues and PR's a bit

Thanks

[2020-03-27 00:18] alexandrtovmach commented on #50
This issue should be closed, because we're not using any of this approaches.

[2020-03-27 00:24] alexandrtovmach commented on #100
Seems like it should be closed

[2020-03-27 00:27] alexandrtovmach commented on #150
@interwebLT Hello, thanks for your interest in localization process of Node.js.
Do you still interested in that we can add Lithuanian language to the list?

[2020-03-27 00:28] alexandrtovmach commented on #180
@AliSawari Hello, thanks for your interest in localization process of Node.js.
Do you still interested in that we can add Persian language to the list?

[2020-03-27 00:29] alexandrtovmach commented on #186
It's not an issue anymore, because we're using Crowdin

[2020-03-27 00:31] alexandrtovmach commented on #187
@svenkatreddy @veera83372  Hello, thanks for your interest in localization process of Node.js.
Do you still interested in that we can add Telugu language to the list?

[2020-03-27 00:32] alexandrtovmach commented on #191
@BrsJsk @ljuba95   Hello, thanks for your interest in localization process of Node.js.
Do you still interested in that we can add Serbian language to the list?

[2020-03-27 00:33] alexandrtovmach commented on #205
@darshana5793 Not sure that I'm understood this issue correctly. Could you please provide a bit more info?

[2020-03-27 00:35] alexandrtovmach commented on #208
@NLDev For sure you can start help with translation process here:
https://crowdin.com/project/nodejs/de

If you'd like to be a proofreader, let us know

[2020-03-27 00:36] maleta commented on #191
+1 interested and available to assist

[2020-03-27 00:42] alexandrtovmach commented on #191
@maleta Sounds great, could you advise which of these options is better?
![image](https://user-images.githubusercontent.com/28801003/77709665-83034180-6fd4-11ea-8a73-a7dfd23d1de1.png)

[2020-03-27 01:04] maleta commented on #191
Both languages are official. If we have to choose one, my vote goes for Latin version.

[2020-03-27 01:13] alexandrtovmach commented on #191
Okay, seems like it's really debatable:
https://ciklopea.com/localization/digital-marketing-localization/should-you-localize-to-serbian-latin-or-to-serbian-cyrillic/

Added Serbian Latin: https://crowdin.com/project/nodejs/sr-CS
Before start translating please read: https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md

[2020-03-27 01:25] maleta commented on #191
Indeed it is. Font base for Latin version is much larger, that's why I voted for it.
Thanks!

[2020-03-27 08:36] BrsJsk commented on #191
Agreed. Latin version is better to use.

[2020-03-27 09:49] BrsJsk commented on #191
Will there be a maintainer, someone who approves the translations?

[2020-03-27 09:55] alexandrtovmach commented on #191
@BrsJsk https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md#proofreading

[2020-03-27 13:37] alexandrtovmach opened #260 "i18n WG Meeting - March 27th"
### Date & Time
* 6:00pm UTC on March 27, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1_X3Ybw5nRC8vKU2zfcValo-Kj0y76GpAfYEMJtGUaS0)

### Agenda
Please feel free to add issues as is relevant. 👍

* Current status of localization setup
  * api-docs: ready to translate
  * nodejs-website: https://github.com/nodejs/nodejs.org/iss

[2020-03-27 13:57] #50 closed

[2020-03-27 14:59] srl295 commented on #260
Note: we should use `i18n-api` instead of Intl as that is the team and label name. I updated the agenda above and added the i18n-api team to the invitee list

[2020-03-27 17:03] srl295 commented on #260
waiting on the zoom link…

[2020-03-27 17:04] LaRuaNa commented on #260
+1

[2020-03-27 17:05] RichardLitt commented on #260
Also waiting on Zoom link.

[2020-03-27 17:06] RichardLitt commented on #260
Let's not wait anymore. Here, everyone!: https://zoom.us/j/838758798?pwd=bjdGNXZPQThlSnlBY0UwUkNQeVVBUT09

[2020-03-27 17:07] RichardLitt commented on #260
I changed the link in the first comment.

[2020-03-27 17:21] srl295 commented on #256
@nodejs/community-committee ?

[2020-03-27 17:58] srl295 commented on #219
1. One idea is to create team locales-core and invite 'core' people to it. but that's more fragile.

2. Another idea is to move all of the teams (i.e. `nodejs-es`, `nodejs-ru`) under something - perhaps i18n or some other parent team , where discussion could happen.

[2020-03-27 18:03] alexandrtovmach commented on #256
@RichardLitt Thanks

[2020-03-27 18:03] #256 closed

[2020-03-27 18:03] #223 closed

[2020-03-27 18:06] #191 closed

[2020-03-27 18:09] #100 closed

[2020-03-27 18:11] #186 closed

[2020-03-27 18:11] #208 closed

[2020-03-27 18:12] #211 closed

[2020-03-27 18:12] alexandrtovmach commented on #212
@dags For sure you can start help with translation process here:
https://crowdin.com/project/nodejs/es

If you'd like to be a proofreader, please check this:
https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md#proofreading

[2020-03-27 18:12] #212 closed

[2020-03-27 18:18] alexandrtovmach commented on #213
@a0viedo Thank you for your help with translation process!

Yes, it should be handled by localization team, and it's coming soon (I hope)

related #100

[2020-03-27 18:18] #213 closed

[2020-03-27 18:22] #218 closed

[2020-03-27 18:22] #247 closed

[2020-03-27 18:45] alexandrtovmach opened #261 "Discussion about NPM module"
Let's make this issue as central place to discuss question "do we need NPM module or not?"
cite from https://github.com/nodejs/i18n/pull/250#issuecomment-602829024

Please write your objections here, and let's make a decision. If everyone agrees that NPM module is not needed, these issues and PR will be closed.: #92 #93 #133 #245 #250

@nodejs/i18n
@nodejs/i18n-api

[2020-03-27 19:00] nschonni opened #262 "Crowdin Glossary Upload giving a 404"
It's running now, but silently failing for a different reason :( https://github.com/nodejs/i18n/runs/540255470?check_suite_focus=true

_Originally posted by @nschonni in https://github.com/nodejs/i18n/pull/254#issuecomment-605212737_

[code]

[2020-03-27 20:42] zeke commented on #261
Thanks for bringing this all into one place.

Based on your feedback in https://github.com/nodejs/i18n/pull/250#issuecomment-602829024, it seems like nodejs.dev will likely use a Gatsby plugin to get localized content directly from this git repo.

I'd still be in favor of exporting a lightweight version of the module as designed in https://github.com/nodejs/i18n/pull/250, but NOT PUBLISHING it to

[2020-03-27 21:26] nschonni commented on #219
Doesn't cover the contact part, but you might want to look at https://github.com/nodejs/node-core-utils/blob/master/docs/ncu-team.md

[2020-03-27 21:54] srl295 commented on #219
Thanks, this is a good argument for using a team to manage the membership

[2020-03-28 03:18] svenkatreddy commented on #187
@alexandrtovmach Yes, thanks.

[2020-03-28 11:28] alexandrtovmach commented on #187
@svenkatreddy Added here: https://crowdin.com/project/nodejs/te

Please read https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md

[2020-03-28 11:28] #187 closed

[2020-03-30 21:21] zeke commented on #248
☝️ I've updated the OP here with a checklist. `nodejs.org` is set up. Still waiting on `nodejs.dev`

[2020-03-30 22:34] zeke commented on #262
Hmm. The URL looks right on the surface: https://support.crowdin.com/api/upload-glossary/

[2020-03-30 22:35] zeke commented on #262
cc @crowdin-support any idea what might be wrong here?

[2020-03-30 22:40] Andrulko commented on #262
Hi @nschonni and @zeke! Trying to reproduce on my machine via Postman. You may try uploading the glossary via JS client built on top of our API v2:
https://github.com/crowdin/crowdin-api-client-js

Also, can you please let us know what is the extension of glossary file? Is it .tbx, .xlsx or .csv?

[2020-03-30 22:46] nschonni commented on #262
It's JSON in the repo, but is built up and pushed through https://github.com/nodejs/i18n/blob/master/script/upload-crowdin-glossary.js

[2020-03-30 22:55] Andrulko commented on #262
Thanks! JSON is not converted to .tbx, .xlsx or .csv as I understand? Unfortunately, it cannot be accepted. There is "json" parameter described in docs but it's used only for purpose of receiving responses in JSON:
https://support.crowdin.com/api/upload-glossary/

Would it be possible to switch to any file type mentioned above? My colleague has managed to upload .tbx but I'd recommend CSV - it's e

[2020-03-31 03:32] zeke commented on #262
Hey @Andrulko 👋 Long time no see.

The underlying `crowdin-glossary` node module is already converting the JS / JSON input into CSV here: https://github.com/crowdin-node/crowdin-glossary/blob/f9cd09f204fb9b028260ec2c616e631f8ba9fe54/index.js#L40-L45

We've used this module before to successfully upload glossary data, and the implementation hasn't changed in some time. Is it possible that this Crow

[2020-03-31 03:56] denisqua commented on #262
Hello @zeke

Hope, you're doing well!

I'm not sure whether we changed something on our side, but let me re-check with developers and get back to you

[2020-03-31 13:23] denisqua commented on #262
Hi @zeke and @nschonni!

Coming back with additional news on the matter:

As tech guys informed, we don't change API v1 in any way, changes could be only on API v2, because we're working on it

Concerning your 404 Error:

We've just checked on our database and can see that you used wrong API key, from the last time API Key was changed, that's why you've got 404 messages

Kindly compare your curren

[2020-03-31 16:50] zeke commented on #262
Thanks for the guidance @denisqua ✨

I just:

- Removed the `CROWDIN_KEY` secret from this repo
- Copied the API key from https://crowdin.com/project/nodejs/settings#api
- Reset the `CROWDIN_KEY`secret

Let's see if that resolves the issue.

[2020-03-31 17:26] JoseJPR opened #265 "👋 Hi, I would like to join this group."
Hi, my name is Pepe, I'm JavaScript developer and I have been working with NodeJS for about six years.

I would like to be able to contribute to this group and help with the translation of the documentation to Spanish language.

A few days ago I was working with the translation of the web nodejs.org as well.
https://github.com/nodejs/nodejs.org/pull/3047

Regards!!!

[2020-04-01 21:09] alexandrtovmach commented on #265
Welcome @JoseJPR
Nice to see you here and we appreciate any contribution. Please read our guide and feel free to join translation process on Crowdin:
https://github.com/nodejs/i18n/blob/master/GETTING_STARTED.md

[2020-04-01 21:09] #265 closed

[2020-04-01 21:24] alexandrtovmach opened #266 "Guidelines needed"
Docs translation process is started, so we need to write/update guidelines for translators.

- [ ] Update README. I think we need to refactor information in README, because it's too noisy and hard to find quick help
- [ ] Refactor GETTING_STARTED.md
- [ ] Write ROLES_GUIDE.md which explain roles management on Crowdin
- [ ] Write GUIDE.md for translator
- [ ] Write GUIDE.md for proofreader
- [ ] Wr

[2020-04-02 12:08] alexandrtovmach commented on #219
After some brainstorm I'd propose the structure:
- nodejs/crowdin-managers
  - nodejs/crowdin-managers-api-docs
  - nodejs/crowdin-managers-website
  - nodejs/crowdin-managers-website-dev
- nodejs/translators
  - nodejs/nodejs-XX

Manager teams useful for project updates requests in issues, like "add language", "change permissions to proofreader"
Translator teams useful already, but we need to rea

[2020-04-02 12:17] alexandrtovmach opened #267 "i18n WG Meeting - April 3"
### Date & Time
* 6:00pm UTC on April 3, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1996iPZqy_hVjiphgiICaDQZXg9ZU42QSdrkd6l1gS00/edit)

### Agenda
Please feel free to add issues as is relevant. 👍

* Current status of localization setup
  * api-docs: ready to translate
  * nodejs-website: ready to translate
  * nodejs-websit

[2020-04-02 12:18] alexandrtovmach commented on #266
Example https://github.com/nodejs/nodejs.org/pull/3061

[2020-04-02 12:20] alexandrtovmach commented on #261
@zeke Totally makes sense, and I agree with this way. I'm just curious - where do you think we will use this module? =)

[2020-04-02 18:41] JoseJPR commented on #265
@alexandrtovmach Thank you! Now I'll use that via to collaborate with the translation. :)

[2020-04-02 21:09] zeke commented on #261
I was imagining building a lightweight portable website desktop app that could be used to visually validate the localized content, independent of any external site like nodejs.org or nodejs.dev.

[`vmd`](https://github.com/yoshuawuyts/vmd) is a Node.js module that contains an Electron app that renders Markdown with GitHub styles applied using [`github-markdown-css`](https://github.com/sindresorhus

[2020-04-03 16:04] alexandrtovmach commented on #267
@RichardLitt @zeke @obensource Could someone help with initialization of call?

[2020-04-03 16:06] alexandrtovmach commented on #267
@srl295

[2020-04-03 16:47] RichardLitt commented on #267
We need to find a new solution to the webinar issue. Right now, it depends on @obensource I think to get it running. I can throw up a new Zoom room, if needed.

[2020-04-03 17:03] alexandrtovmach commented on #267
@RichardLitt Yeah, of course we'll use some personal zoom link as temp solution

[2020-04-03 17:13] srl295 commented on #267
regrets for today

--
Steven R. Loomis | @srl295 | git.io/srl295

[2020-04-03 17:14] obensource commented on #267
+1, regrets for today.

[2020-04-03 17:15] obensource commented on #267
Hey y'all, apologies about the zoom setup – we definitely don't need only one person holding the keys for our meetings, lol!

There are two things you need in order to run this via the CommComm zoom account:

1. The CommComm zoom privs – @RichardLitt & @zeke, I'll share with y'all via Keybase right now.
2. You have to be added to the Node.js youtube account in order to stream meetings. I believe @

[2020-04-03 17:17] alexandrtovmach commented on #267
@RichardLitt & @zeke after @obensource will share keys with you, do you able to initialize a meeting today?

[2020-04-03 17:19] obensource commented on #267
@alexandrtovmach shared the keys with @RichardLitt & @zeke. 👍

[2020-04-03 17:21] alexandrtovmach commented on #267
@obensource thanks, you're best. Hope you'll back to us soon)

[2020-04-03 17:24] obensource commented on #267
@alexandrtovmach Thanks my friend! I've been focusing on my family's health mostly – and that's taking most of my time right now, but we're getting to the point where I can start jumping back in again. So incredibly excited to – y'all are making amazing progress! 🙌

[2020-04-03 17:25] obensource commented on #267
@RichardLitt & @zeke I'm also sharing info (via keybase) about how to setup the live stream, once you're invited to the Node.js YT channel account. 👍

[2020-04-03 17:26] JoseJPR commented on #267
Hi all! I'm trying to access. Is it possible to access with the link above or has it changed? Or will it finally be on youtube? :)

[2020-04-03 17:37] obensource commented on #267
@RichardLitt @zeke I would add y'all to the YT account right now but I don't have owner permissions. @mhdawson – looks like you're an owner, would you be able to add @RichardLitt and @zeke as managers of the Node.js YouTube account so the can stream our meetings?

Thanks a million! 🙏

I'm guessing the meeting has progressed far enough today that we'll just pick up with the live stream next week, b

[2020-04-03 17:38] alexandrtovmach commented on #267
@JoseJPR If it wouldn't work we will replace link with personal zoom meeting link

[2020-04-03 17:38] alexandrtovmach commented on #267
If I'm not wrong meeting will start in 20 minutes

[2020-04-03 17:42] obensource commented on #267
LOL – you're right (6pm UTC)! ;) I can kick off the live stream for y'all today. 👍

[2020-04-03 17:43] alexandrtovmach commented on #267
@obensource That will be great, maybe you also can start zoom?
If it's some time issue for you, we can start it now, and I'll be a host, to you can disconnect

[2020-04-03 17:45] obensource commented on #267
@alexandrtovmach apologies for the ambiguity. I can definitely kick off the Zoom call, and start the live stream from there. Thanks for hosting today! 🙏

[2020-04-03 18:04] alexandrtovmach commented on #267
@obensource Noooo =)
You're end call for everyone

[2020-04-03 18:05] alexandrtovmach commented on #267
@obensource Please come back))))

[2020-04-03 18:11] RichardLitt commented on #267
Unfortunately, I am going to miss today. I have some other things on. Thank you for the help, @obensource, and for the initiative, @alexandrtovmach.

[2020-04-03 18:25] alexandrtovmach commented on #262
@zeke does it working now?

[2020-04-03 20:16] alexandrtovmach commented on #219
I've made structure updates where I have access, and sent requests where haven't:
https://github.com/nodejs/TSC/issues/845

Waiting for approvals from TSC

[2020-04-04 01:23] Trott commented on #219
The teams are already under `@nodejs/localization`. Would that be useable instead of `@nodejs/translators`? (I don't have an opinion. Just asking before doing anything. I'm not sure people know that all these teams are already a subteam of another team.)

[2020-04-04 01:23] Trott commented on #219
The teams are already under `@nodejs/localization`. Would that be useable instead of `@nodejs/translators`? (I don't have an opinion. Just asking before doing anything. I'm not sure people know that all these teams are already a subteam of another team.)

[2020-04-04 09:46] alexandrtovmach commented on #219
@Trott Good catch, but it should be renamed to `@nodejs/translators` anyway, because it's semantic correctly. Could you give me admin rights to [this team](https://github.com/orgs/nodejs/teams/localization), so I can change everything that we need

[2020-04-05 14:43] alexandrtovmach commented on #266
I've started writing this guides, and changed structure a bit:

- Get started - basic understanding about translation process
- Roles - information about roles and hierarchy in Node.js localization process
- Teams - explain the structure of localization teams and their goals
- Crowdin - review functionality of Crowdin that we're using for Node.jsdes/CROWDIN.md) - review functionality of Crowdin th

[2020-04-05 19:21] zeke commented on #262
I don't think it has run since this change was made. Here's the last run from 8 days ago: https://github.com/nodejs/i18n/actions/runs/65243014

Here's what triggers the workflow: https://github.com/nodejs/i18n/blob/4e18ed81a8d71ba0ee0f2aa5e8c788aec6068cba/.github/workflows/glossary.yml#L3-L12

Anyone should be able to test this by opening (and merging) a PR that adds or updates a glossary entry.

[2020-04-05 20:23] Trott commented on #219
@benjamingr What do you think? The idea here is to get rid of the (I believe just-created and unused) @nodejs/translators team, rename @nodejs/localization to @nodejs/translators, and make @alexandrtovmach a maintainer of the team (along with you, the only maintainer as of now) so that Crowdin set up can be completed.

[2020-04-06 06:31] alexandrtovmach opened #272 "Fix nightly sync"
We need to update nightly build, because it seems like not working:
https://github.com/nodejs/i18n/actions?query=workflow%3A%22Nightly+Sync+of+content%22

@nschonni Do you have any idea?

Related: #242

[2020-04-06 16:25] alexandrtovmach commented on #272
Code didn't catch error if nothing to commit, and fails. To not write new implementation, just replaced commit action code with [third-party module](https://github.com/marketplace/actions/add-commit). Please review #273

[2020-04-06 16:28] alexandrtovmach commented on #262
Works now https://github.com/nodejs/i18n/actions/runs/71474551
Thanks for investigation!

[2020-04-06 16:28] #262 closed

[2020-04-06 16:31] alexandrtovmach commented on #220
Closed as duplicate, and moved main conversation to #219

[2020-04-06 16:31] #220 closed

[2020-04-06 17:49] zeke commented on #262
Nice 🙌

[2020-04-06 17:54] JoseJPR commented on #219
Hi all, I have only been here a short time but I would like to give my opinion. :)

I think the @nodejs/translators group is more successful than @nodejs/localization. The word "translators" correctly describes the group as people translating instead of "localization" which refers to locations.

[2020-04-09 16:29] alexandrtovmach commented on #248
website-redesign team already give access to their repo, @zeke could you try to integrate?

[2020-04-09 20:20] alexandrtovmach commented on #272
Seems like fixed, let's see how it'll run this night:
https://github.com/nodejs/i18n/runs/575088458?check_suite_focus=true

@zeke Thanks for quick review
https://i.imgur.com/zqVblUG.gif

[2020-04-09 20:22] zeke commented on #272
🎸

[2020-04-10 07:17] alexandrtovmach commented on #272
Seems okay:
https://github.com/nodejs/i18n/runs/575859773?check_suite_focus=true

[2020-04-10 07:17] #272 closed

[2020-04-10 09:15] alexandrtovmach opened #282 "i18n WG Meeting - April 10"
### Date & Time
* 6:00pm UTC on April 10, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1996iPZqy_hVjiphgiICaDQZXg9ZU42QSdrkd6l1gS00/edit)

### Agenda
Please feel free to add issues as is relevant. 👍

* Complete integration with Crowdin #248
* Updated collect script to fetch latest versions #281
* Review of guidelines #266
* R

[2020-04-10 15:11] alexandrtovmach commented on #282
@zeke @obensource @srl295 Could someone help with meeting intialiation?

[2020-04-10 15:42] alexandrtovmach commented on #101
1. Validation of translated content is no more required, because it's handled by Crowdin now
2. Deleting translated files if original file was deleted fixed by #269 thanks to @nschonni
3. Original content linted in main repo I believe, and here's no reason to double lint

I think this issue should be closed, objections?

[2020-04-10 15:54] alexandrtovmach opened #283 "Protect folders with translated content from manual updates"
We need to think about ways how we can protect translated content from updates through GitHub instead of Crowdin, and apply it to all translatable projects

My idea is to use GitHub Actions, to check PRs:
- if PR not contain changes of translated content - **pass**
- if PR contain changes of translated content:
  - if PR created by `nodejs-crowdin` - **pass**
  - if PR created by someone else - ad

[2020-04-10 16:05] alexandrtovmach commented on #248
@zeke Could you also set sync schedule interval for all projects to 24 hours?
https://support.crowdin.com/github-integration/#synchronization-schedule

[2020-04-10 17:44] obensource commented on #282
@alexandrtovmach I can! Also left a note for you in the OpenJS slack channel. 👍

[2020-04-10 19:22] nschonni commented on #101
I still don't understand how Crowdin validates content. Do you mean that it checks that if the English file is deleted, it will delete the file automatically?

New issues can and have been introduced during translations, like when markdown anchor link texts are changed, which is validated by nodejs remark-lint ruleset

[2020-04-10 19:29] alexandrtovmach commented on #246
I wouldn't like to use external package for this goal. If you can check - it's not up to date, and data in this module seems like updating manually. And it's also a bit weird to use this flow:

`i18n -> node-releases -> node`

instead of:

`i18n -> node`

[2020-04-10 21:06] #267 closed

[2020-04-12 03:52] zeke commented on #248
- [ ] https://crowdin.com/project/nodejs-website-dev/settings#integration (pending https://github.com/nodejs/nodejs.dev/issues/438)
- [x] https://crowdin.com/project/nodejs-website/settings#integration
- [x] https://crowdin.com/project/nodejs/settings#integration

[2020-04-12 16:02] interwebLT commented on #150
@alexandrtovmach
Hello, thanks for contacting..
Yes, I do! It would be pleasure to help.

[2020-04-12 17:57] alexandrtovmach commented on #150
Added Lithuanian language here:
https://crowdin.com/project/nodejs/lt

welcome on board =)

[2020-04-12 17:57] #150 closed

[2020-04-13 02:48] zeke commented on #283
Good idea. 👍

[2020-04-13 02:50] zeke commented on #246
I think this was replaced by https://github.com/nodejs/i18n/pull/281 and be closed. Is that correct?

[2020-04-13 04:52] nschonni commented on #246
No, this would still have the advantage of pulling based on supported versions. The current approach is still a hardcoded static list of majors

[2020-04-13 06:24] alexandrtovmach commented on #246
I'm not sure that I can understand what is the advantage. It's the same functionality as we already have in `master`. @nschonni could you explain?

[2020-04-13 06:28] alexandrtovmach commented on #104
It's sounds like something interesting. Do we have any plans/progress with that?

[2020-04-13 06:29] alexandrtovmach commented on #205
Closed as unactive

[2020-04-13 06:29] #205 closed

[2020-04-13 06:31] alexandrtovmach commented on #210
Closed in favor #266 #270

[2020-04-13 06:31] #210 closed

[2020-04-13 07:57] BrsJsk opened #289 "Request to become a proofreader on CrowdIn"
Hi,
I'm working on translations for Serbian (Latin) and I've got around 1000 words translated now(Screenshot attached).
I would like, if possible, to be promoted to a proofreader as currently there is none as Serbian (Latin) for API docs as it was added recently.
https://crowdin.com/project/nodejs/sr-CS#

Also, I'd like to join the i18n team of the Node,js organization if possible.

Screenshot
![]

[2020-04-13 08:07] alexandrtovmach commented on #244
Closed in favor #284

[2020-04-13 08:07] #244 closed

[2020-04-13 08:12] alexandrtovmach commented on #246
Current approach using predefined list of major versions, to be able to turn on/off targets, but minor and patch automated and pulling the latest version every night. Probably I misunderstood something from your idea, please let me know

[2020-04-13 16:18] zeke commented on #101
Unfortunately, Crowdin's GitHub integration does not delete localized files when the source file is deleted (or renamed). There needs to be some kind of script to remove these extraneous files.

It appears that https://github.com/nodejs/i18n/pull/269/files#diff-d3f8a1b721ac593eec433fbf59ea263b takes care of resetting English files when script/collect is run, but it doesn't handle extraneous locali

[2020-04-13 16:35] JoseJPR commented on #289
Hi @BrsJsk,

FYI: the link open correctly if you copy and paste in the browser, if you click it does not lead to the screenshot.

[2020-04-13 16:52] alexandrtovmach commented on #101
@Andrulko Any suggestions?

[2020-04-13 18:34] JoseJPR opened #392 "👋 Hi, I wish to Join the Team."
👨🏻‍💻 Hi, I'm Jose, developer for a little over 15 years, I work with JavaScript and the last 6 years with NodeJS.

For months I have been studying for the NodeJS Certification. I have seen that not all content is in Spanish and this may be a barrier for other developers. And ... here I'm, I would like to join the team and be able to help even more. I believe that currently where I can help more is

[2020-04-13 18:53] JoseJPR opened #293 "🔬 Request to be a Proofreader"
Hi, after my presentation in this other issue (https://github.com/nodejs/nodejs.org/issues/3098).

I would also like to propose myself as Proofreader. And in this way you can review translations from other developers.

Currently, I have this PR (https://github.com/nodejs/nodejs.org/pull/3047) with several pages translated of website (nodejs.org) and, on the other hand, 1800 words translated into C

[2020-04-13 19:29] zeke commented on #248
nodejs.dev Crowdin integration is now set up: https://github.com/nodejs/nodejs.dev/issues/438#issuecomment-613055614

All three projects are now on a 24-hour sync schedule. 📆

[2020-04-13 19:30] alexandrtovmach commented on #248
@zeke Amazing news, thank you for help

[2020-04-13 19:32] #248 closed

[2020-04-13 19:57] alexandrtovmach commented on #289
Thanks for your contributions
![image](https://user-images.githubusercontent.com/28801003/79155638-195ba380-7dda-11ea-9a17-214837e9f76f.png)

[2020-04-13 19:57] #289 closed

[2020-04-13 19:59] alexandrtovmach commented on #293
Thanks for your contributions:
![image](https://user-images.githubusercontent.com/28801003/79155815-68a1d400-7dda-11ea-84f7-6c2e8e92f575.png)

[2020-04-13 19:59] #293 closed

[2020-04-14 08:47] alexandrtovmach commented on #101
I started writing tests to cover this cases #297 and now understand what do you mean:
https://github.com/nodejs/i18n/runs/585084630?check_suite_focus=true

I'm going to contact with Crowdin team to find a solution

[2020-04-14 10:18] BrsJsk opened #298 "Joining & Contributing"
Hi all, I'd like to join the group and contribute to i18n.
I'm currently a proofreader for Serbian (Latin).

Thanks

[2020-04-15 08:26] alexandrtovmach opened #303 "Infinite pending checks for autocreated PRs"
GitHub Actions checks never complete for autocreated PRs with original content updates:

- https://github.com/nodejs/i18n/pull/294 (triggered with additional commits)
- https://github.com/nodejs/i18n/pull/301 (triggered with additional merge commit)

I'm not very confident with GitHub actions, so need help with this issue
@nodejs/i18n @nodejs/i18n-api

[2020-04-15 20:56] #101 closed

[2020-04-16 19:29] #266 closed

[2020-04-16 19:31] alexandrtovmach commented on #214
Closing in favor #270

[2020-04-16 19:31] #214 closed

[2020-04-17 15:25] alexandrtovmach commented on #219
[New structure](https://github.com/nodejs/i18n/issues/219#issuecomment-607806363) is done

[2020-04-17 15:25] #219 closed

[2020-04-17 15:27] alexandrtovmach opened #307 "i18n WG Meeting - April 17"
### Date & Time
* 6:00pm UTC on April 17, 2020

### Links
* [Zoom link](https://zoom.us/j/307660555)
* [Google Docs Minutes](https://docs.google.com/document/d/1996iPZqy_hVjiphgiICaDQZXg9ZU42QSdrkd6l1gS00/edit)

### Agenda
Please feel free to add issues as is relevant. 👍

* Progress review: #219 #266
* Protect folders with translated content from manual updates #283
* Infinite pending checks for a

[2020-04-17 16:22] JoseJPR commented on #261
👋 Hi all, sorry I'm late for this issue.

I see two different points after reading these ideas:

1. On the one hand, the **standardization of documentation files** for both website .dev and .org.

I did not know this library (https://www.gatsbyjs.org/packages/gatsby-source-git/) but I think it can really give a solution for the .dev website. Keep updated an NPM library is more effort.

2. On the o

[2020-04-17 17:09] zeke commented on #307
Anyone joining today?

![Screen Shot 2020-04-17 at 10 09 15 AM](https://user-images.githubusercontent.com/2289/79595340-80f04800-8093-11ea-8e63-008e5cb2172b.png)

[2020-04-17 17:16] srl295 commented on #307
Is it open now ?

El El vie, abr. 17, 2020 a la(s) 10:09 a. m., Zeke Sikelianos <
notifications@github.com> escribió:

[2020-04-17 17:22] JoseJPR commented on #307
@zeke I'm trying to access. But in Google Calendar it shows me that it is not now, it will be in 2h more (my 9pm at night.)

[2020-04-17 17:26] zeke commented on #307
Oops my calendar entry was off by an hour. Sorry.

[2020-04-17 17:42] obensource commented on #307
@zeke @srl295 @alexandrtovmach @JoseJPR I can set up the meeting no problem. Did the off by an hour issue affect anyone's ability to attend – if so should we reschedule?

The meeting used to be at 5pm UTC but was more recently moved to 6pm UTC. It looks to be up to date on the [node foundation calendar](https://calendar.google.com/calendar/embed?src=nodejs.org_nr77ama8p7d7f9ajrpnu506c98%40group.ca

[2020-04-17 18:13] zeke commented on #307
The current time is fine with me. I just didn't realize European daylight savings had kicked in. 🌞

[2020-04-17 18:15] alexandrtovmach commented on #307
https://github.com/orgs/nodejs/teams/translators/discussions/7

[2020-04-17 18:24] zeke commented on #283
Since the goal is to help contributors avoid wasting their time and energy, maybe we could intervene earlier in the process.

We could also use a git precommit hook to detect changes to translated files and warn contributors that they probably don't want to make those changes. There's a tool called [husky](https://ghub.io/husky) that makes it easier to manage git hooks in a Node.js project.

[2020-04-17 18:42] mendeljacks commented on #307
Hi, just joined at the end. Is this a regular zoom meeting?

[2020-04-17 18:54] alexandrtovmach commented on #307
@mendeljacks Welcome!
Yes this is weekly based meeting

[2020-04-17 18:55] #282 closed

[2020-04-17 21:03] alexandrtovmach commented on #261
@zeke As #250 merged now, this issue looks like resolved. Could you go through list of related (check in desc) stuff to make sure that's still actual and close if not. Thanks!

One more thing, could you also check two branches in this repo, and remove it if it's no longer needed

[2020-04-17 21:09] alexandrtovmach commented on #92
Closing in favor #261

[2020-04-17 21:09] #92 closed

[2020-04-17 21:10] alexandrtovmach commented on #93
Closing in favor #261

[2020-04-17 21:10] #93 closed

[2020-04-17 21:11] alexandrtovmach commented on #261
Closing in favor #250

[2020-04-17 21:11] #261 closed

[2020-04-17 21:12] alexandrtovmach commented on #246
Closed in favor #281
Feel free to reopen, if there are any objections

[2020-04-17 21:12] #246 closed

[2020-04-17 21:15] alexandrtovmach commented on #63
@srl295 Could you write some description to this issue to give us more context, because I have no clue what is going on and how I can help. Thanks

[2020-04-17 21:24] alexandrtovmach opened #309 "l10n groups updates"
Based on meeting discussion #307, will write more details later...
- l10n repository structure
- l10n migration/updates guide

[2020-04-17 21:25] alexandrtovmach commented on #180
Closing as unactive 😞
Feel free to open new language request issue

[2020-04-17 21:25] #180 closed

[2020-04-17 21:49] alexandrtovmach opened #310 "Supported versions strategy"
We removed v8.x (#263 ), and content folder become so empty 😰
![image](https://user-images.githubusercontent.com/28801003/79615742-22b37b80-810c-11ea-8d11-76cb260011b8.png)

## Question:
Why do we have this system with limited scope of supported versions?

## My thoughts:
Later, when translated docs become online, what will be shown for older and odd versions?
![image](https://user-images.githubus

[2020-04-17 22:00] zeke commented on #310
Early on in this project we decided to only support [LTS](https://github.com/nodejs/Release) and newer versions of Node.js. Translating older versions would not only add more work, more files, more needless translation, but we should also be discouraging people from building anything new with those old versions of Node.js